# 제로베이스데이터사이언스 스쿨 원데이 프로젝트
> ## 세계 테러 데이터 분석 - SQL 사용하기

---

#### 총 8문제 100점 만점 

- 문제 1 10점  
- 문제 2,3,5,6,7,8번 각 10점 
- 문제 4번 30점
- 총점 100점

#### 유의사항

- 모든 정답 코드는 jupyter notebook 파일에 작성해주세요. 
- 1번 문제는 정답 코드를 그대로 공개해드립니다. 따라서 진행해주세요. 
- 그 외 문제들은 참고하실 수 있도록 주석과 출력 코드를 보여드립니다. 
- 제출시, 반드시 결과가 실행되어 있어야 합니다. 미실행 또는 오류시 감점입니다. 
- 제출시, [DS]sql3_choyongha.ipynb 형식에 맞춰 제출해주세요.

---

여러분은 이전 과제에서 세계 테러 데이터 분석 프로젝트를 진행하였습니다. 

이번 시간에는 분석할 데이터를 Database 로 변환하고, 분석에 필요한 데이터를 저장된 Database 에서 쿼리하여 가져와 보도록 하겠습니다.

#### 작업환경

- aws rds 사용시: 이전 과제에서 생성한 AWS RDS (MySQL) 의 Database 및 사용자를 사용하세요. 
  - Database Name: oneday 
  - User Name / Password: oneday / 1234
- local 사용시: 로컬 환경에서 생성한 Database 및 사용자를 사용하세요.
  - 위와 동일하게 생성해주세요

## 원본 Data Download
- https://www.kaggle.com/datasets/START-UMD/gtd

---

문제 1.  csv 파일에 저장된 세계 테러 데이터를 하나의 테이블에 저장하세요. 

- globalterrorismmdb_0718.csv - https://www.kaggle.com/datasets/START-UMD/gtd
- pandas의 to_sql 함수 사용 (힌트 : create_engine)
- Table name : origin_terror_data 

제출 1. Table 생성 및 조회 결과 : DESC origin_terror_data, SELECT  COUNT(*) FROM origin_terror_data

제출 2. 관련 코드 및 실행 결과 (ipynb)

In [29]:
##############################################################################################
#  문제 1. 원본 데이터 (csv)를 데이터베이스로 변환하고 확인하기 
#  globalterrorismdb_0718dist.csv -> origin_terror_data (table)
#  Pandas 의 to_sql 사용 
##############################################################################################

##############################################################################################
#  pip install pymysql
#  pip install SQLAlchemy Flask-SQLAlchemy
##############################################################################################

##############################################################################################
#  MySQL
#  # import pymysql
#  engine = create_engine('mysql+pymysql://username:password@host:3306/database')
##############################################################################################

import time
import pandas as pd
import pymysql
import configparser
from sqlalchemy import create_engine, text

# 데이터 불러오기
df = pd.read_csv('./globalterrorismdb_0718dist.csv', encoding='ISO-8859-1', low_memory=False)

# DB 접속 엔진 객체 생성
user = 'oneday'
password = '1234'
host="database-1.csnfhisafzda.us-east-1.rds.amazonaws.com"
port = 3306
database = 'oneday'#zerobase

engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}:{port}/{database}?charset=utf8mb4')
conn = engine.connect()

# DB 테이블 명(생성될 테이블 이름)
table_name = "origin_terror_data"

# DB에 DataFrame 적재
df.to_sql(index = False, 
          name = table_name,
          con = engine,
          if_exists = 'append',
          method = 'multi', 
          chunksize = 10000)

sql = "SELECT count(*) FROM origin_terror_data"
records = conn.execute(text(sql)).fetchall()
conn.commit()
print(records)

[(181691,)]

In [85]:
cursor.execute("Desc origin_terror_data")
records = cursor.fetchall()
for item in records:
    print(item)

('eventid', b'bigint', 'YES', '', None, '')
('iyear', b'bigint', 'YES', '', None, '')
('imonth', b'bigint', 'YES', '', None, '')
('iday', b'bigint', 'YES', '', None, '')
('approxdate', b'text', 'YES', '', None, '')
('extended', b'bigint', 'YES', '', None, '')
('resolution', b'text', 'YES', '', None, '')
('country', b'bigint', 'YES', '', None, '')
('country_txt', b'text', 'YES', '', None, '')
('region', b'bigint', 'YES', '', None, '')
('region_txt', b'text', 'YES', '', None, '')
('provstate', b'text', 'YES', '', None, '')
('city', b'text', 'YES', '', None, '')
('latitude', b'double', 'YES', '', None, '')
('longitude', b'double', 'YES', '', None, '')
('specificity', b'double', 'YES', '', None, '')
('vicinity', b'bigint', 'YES', '', None, '')
('location', b'text', 'YES', '', None, '')
('summary', b'text', 'YES', '', None, '')
('crit1', b'bigint', 'YES', '', None, '')
('crit2', b'bigint', 'YES', '', None, '')
('crit3', b'bigint', 'YES', '', None, '')
('doubtterr', b'double', 'YES', '', None, '')
('alternative', b'double', 'YES', '', None, '')
('alternative_txt', b'text', 'YES', '', None, '')
('multiple', b'double', 'YES', '', None, '')
('success', b'bigint', 'YES', '', None, '')
('suicide', b'bigint', 'YES', '', None, '')
('attacktype1', b'bigint', 'YES', '', None, '')
('attacktype1_txt', b'text', 'YES', '', None, '')
('attacktype2', b'double', 'YES', '', None, '')
('attacktype2_txt', b'text', 'YES', '', None, '')
('attacktype3', b'double', 'YES', '', None, '')
('attacktype3_txt', b'text', 'YES', '', None, '')
('targtype1', b'bigint', 'YES', '', None, '')
('targtype1_txt', b'text', 'YES', '', None, '')
('targsubtype1', b'double', 'YES', '', None, '')
('targsubtype1_txt', b'text', 'YES', '', None, '')
('corp1', b'text', 'YES', '', None, '')
('target1', b'text', 'YES', '', None, '')
('natlty1', b'double', 'YES', '', None, '')
('natlty1_txt', b'text', 'YES', '', None, '')
('targtype2', b'double', 'YES', '', None, '')
('targtype2_txt', b'text', 'YES', '', None, '')
('targsubtype2', b'double', 'YES', '', None, '')
('targsubtype2_txt', b'text', 'YES', '', None, '')
('corp2', b'text', 'YES', '', None, '')
('target2', b'text', 'YES', '', None, '')
('natlty2', b'double', 'YES', '', None, '')
('natlty2_txt', b'text', 'YES', '', None, '')
('targtype3', b'double', 'YES', '', None, '')
('targtype3_txt', b'text', 'YES', '', None, '')
('targsubtype3', b'double', 'YES', '', None, '')
('targsubtype3_txt', b'text', 'YES', '', None, '')
('corp3', b'text', 'YES', '', None, '')
('target3', b'text', 'YES', '', None, '')
('natlty3', b'double', 'YES', '', None, '')
('natlty3_txt', b'text', 'YES', '', None, '')
('gname', b'text', 'YES', '', None, '')
('gsubname', b'text', 'YES', '', None, '')
('gname2', b'text', 'YES', '', None, '')
('gsubname2', b'text', 'YES', '', None, '')
('gname3', b'text', 'YES', '', None, '')
('gsubname3', b'text', 'YES', '', None, '')
('motive', b'text', 'YES', '', None, '')
('guncertain1', b'double', 'YES', '', None, '')
('guncertain2', b'double', 'YES', '', None, '')
('guncertain3', b'double', 'YES', '', None, '')
('individual', b'bigint', 'YES', '', None, '')
('nperps', b'double', 'YES', '', None, '')
('nperpcap', b'double', 'YES', '', None, '')
('claimed', b'double', 'YES', '', None, '')
('claimmode', b'double', 'YES', '', None, '')
('claimmode_txt', b'text', 'YES', '', None, '')
('claim2', b'double', 'YES', '', None, '')
('claimmode2', b'double', 'YES', '', None, '')
('claimmode2_txt', b'text', 'YES', '', None, '')
('claim3', b'double', 'YES', '', None, '')
('claimmode3', b'double', 'YES', '', None, '')
('claimmode3_txt', b'text', 'YES', '', None, '')
('compclaim', b'double', 'YES', '', None, '')
('weaptype1', b'bigint', 'YES', '', None, '')
('weaptype1_txt', b'text', 'YES', '', None, '')
('weapsubtype1', b'double', 'YES', '', None, '')
('weapsubtype1_txt', b'text', 'YES', '', None, '')
('weaptype2', b'double', 'YES', '', None, '')
('weaptype2_txt', b'text', 'YES', '', None, '')
('weapsubtype2', b'double', 'YES', '', None, '')
('weapsubtype2_txt', b'text', 'YES', '', None, '')
('weaptype3', b'double', 'YES', '', None, '')
('weaptype3_txt', b'text', 'YES', '', None, '')
('weapsubtype3', b'double', 'YES', '', None, '')
('weapsubtype3_txt', b'text', 'YES', '', None, '')
('weaptype4', b'double', 'YES', '', None, '')
('weaptype4_txt', b'text', 'YES', '', None, '')
('weapsubtype4', b'double', 'YES', '', None, '')
('weapsubtype4_txt', b'text', 'YES', '', None, '')
('weapdetail', b'text', 'YES', '', None, '')
('nkill', b'double', 'YES', '', None, '')
('nkillus', b'double', 'YES', '', None, '')
('nkillter', b'double', 'YES', '', None, '')
('nwound', b'double', 'YES', '', None, '')
('nwoundus', b'double', 'YES', '', None, '')
('nwoundte', b'double', 'YES', '', None, '')
('property', b'bigint', 'YES', '', None, '')
('propextent', b'double', 'YES', '', None, '')
('propextent_txt', b'text', 'YES', '', None, '')
('propvalue', b'double', 'YES', '', None, '')
('propcomment', b'text', 'YES', '', None, '')
('ishostkid', b'double', 'YES', '', None, '')
('nhostkid', b'double', 'YES', '', None, '')
('nhostkidus', b'double', 'YES', '', None, '')
('nhours', b'double', 'YES', '', None, '')
('ndays', b'double', 'YES', '', None, '')
('divert', b'text', 'YES', '', None, '')
('kidhijcountry', b'text', 'YES', '', None, '')
('ransom', b'double', 'YES', '', None, '')
('ransomamt', b'double', 'YES', '', None, '')
('ransomamtus', b'double', 'YES', '', None, '')
('ransompaid', b'double', 'YES', '', None, '')
('ransompaidus', b'double', 'YES', '', None, '')
('ransomnote', b'text', 'YES', '', None, '')
('hostkidoutcome', b'double', 'YES', '', None, '')
('hostkidoutcome_txt', b'text', 'YES', '', None, '')
('nreleased', b'double', 'YES', '', None, '')
('addnotes', b'text', 'YES', '', None, '')
('scite1', b'text', 'YES', '', None, '')
('scite2', b'text', 'YES', '', None, '')
('scite3', b'text', 'YES', '', None, '')
('dbsource', b'text', 'YES', '', None, '')
('INT_LOG', b'bigint', 'YES', '', None, '')
('INT_IDEO', b'bigint', 'YES', '', None, '')
('INT_MISC', b'bigint', 'YES', '', None, '')
('INT_ANY', b'bigint', 'YES', '', None, '')
('related', b'text', 'YES', '', None, '')

문제 2. origin_terror_data 에서 region, country 관련 데이터는 code 와 txt (name) 속성으로 정의되어 있습니다. 

문제 2-1. Region 및 Country 테이블을 그림과 같은 구조로 생성하세요. 

- origin_terror_data 를 분석하여 각 테이블의 데이터 타입을 정의하세요. 
- 문자열 데이터의 사이즈는 origin_terror_data 테이블에서 해당 데이터의 max length 를 쿼리로 체크하여 정의하세요. 
- Region 과 Country 데이터 사이의 관계를 파악하여 Foreign Key 를 설정하세요.

제출 3. Table 생성 및 조회 결과 : DESC Region, DESC Country

참고> 
- Region.region_code     = origin_terror_data.region
- Region.region_name     = origin_terror_data.region_txt
- Country.country_code   = origin_terror_data.country
- Country.country_name   = origin_terror_data.country_txt

In [1]:
##############################################################################################
#  문제 2. region / country / city 데이터 추출하여 데이터베이스로 변환하기 
#  중복을 제거한 code - name 값 
#  region - country - city 관계 정의 
##############################################################################################
import mysql.connector

conn = mysql.connector.connect(
    host="database-1.csnfhisafzda.us-east-1.rds.amazonaws.com",
    port = 3306,
    user = 'oneday',
    password = '1234',
    database = 'oneday'
)

cursor = conn.cursor(buffered=True)

In [11]:
# region_txt 의 max length 체크 
cursor.execute("select max(length(region_txt)) from origin_terror_data")
records = cursor.fetchall()
print(records)

[(27,)]

In [38]:
# Region 테이블 만들기 
sql = '''create table Region
( 
       region_code int not null primary key,  
       region_name varchar(32) not null
); '''

cursor.execute(sql)

cursor.execute("desc Region")
records = cursor.fetchall()
for item in records:
    print(item)

('region_code', b'int', 'NO', 'PRI', None, '')
('region_name', b'varchar(32)', 'NO', '', None, '')

In [39]:
# country_txt 의 max length 체크 
cursor.execute("select max(length(country_txt)) from origin_terror_data")
records = cursor.fetchall()
print(records)

[(32,)]

In [40]:
# Country 테이블 만들기 
sql = '''create table Country
(
    country_code int not null primary key,
    region_code int not null,
    country_name varchar(32) not null,
    FOREIGN KEY (region_code) REFERENCES Region(region_code)
); '''

cursor.execute(sql)

cursor.execute("desc Country")
records = cursor.fetchall()
for item in records:
    print(item)

('country_code', b'int', 'NO', 'PRI', None, '')
('region_code', b'int', 'NO', 'MUL', None, '')
('country_name', b'varchar(32)', 'NO', '', None, '')

문제 2-2. origin_terror_data 테이블에서 Region 및 Country 데이터를 추출하여 문제 2-1.에서 생성한 테이블에 입력하고 확인하세요.   

- 중복을 제거한 Unique Data 를 추출하세요. 
- 데이터를 INSERT 할때 순서를 고민하세요. 

제출 4. 관련 코드 및 실행 결과 (ipynb)

In [41]:
# Region 데이터 추출하기 
cursor.execute("select region, region_txt from origin_terror_data group by region, region_txt order by region;")
records = cursor.fetchall()
for item in records:
    print(item)

(1, 'North America')
(2, 'Central America & Caribbean')
(3, 'South America')
(4, 'East Asia')
(5, 'Southeast Asia')
(6, 'South Asia')
(7, 'Central Asia')
(8, 'Western Europe')
(9, 'Eastern Europe')
(10, 'Middle East & North Africa')
(11, 'Sub-Saharan Africa')
(12, 'Australasia & Oceania')

In [42]:
# Region 테이블에 INSERT 
sql = '''INSERT INTO Region (region_code, region_name)
         VALUES (%s, %s)'''

for item in records:
    cursor.execute(sql, item)
    conn.commit()

cursor.execute("SELECT * FROM Region")
print(cursor.fetchall())

[(1, 'North America'), (2, 'Central America & Caribbean'), (3, 'South America'), (4, 'East Asia'), (5, 'Southeast Asia'), (6, 'South Asia'), (7, 'Central Asia'), (8, 'Western Europe'), (9, 'Eastern Europe'), (10, 'Middle East & North Africa'), (11, 'Sub-Saharan Africa'), (12, 'Australasia & Oceania')]

In [43]:
# Country 데이터 추출하기 
cursor.execute("select country, region, country_txt from origin_terror_data group by region, country, country_txt order by country, region;")
records = cursor.fetchall()
for item in records:
    print(item)

(4, 6, 'Afghanistan')
(5, 9, 'Albania')
(6, 10, 'Algeria')
(7, 8, 'Andorra')
(8, 11, 'Angola')
(10, 2, 'Antigua and Barbuda')
(11, 3, 'Argentina')
(12, 7, 'Armenia')
(14, 12, 'Australia')
(15, 8, 'Austria')
(16, 7, 'Azerbaijan')
(17, 2, 'Bahamas')
(18, 10, 'Bahrain')
(19, 6, 'Bangladesh')
(20, 2, 'Barbados')
(21, 8, 'Belgium')
(22, 2, 'Belize')
(23, 11, 'Benin')
(25, 6, 'Bhutan')
(26, 3, 'Bolivia')
(28, 9, 'Bosnia-Herzegovina')
(29, 11, 'Botswana')
(30, 3, 'Brazil')
(31, 5, 'Brunei')
(32, 9, 'Bulgaria')
(33, 11, 'Burkina Faso')
(34, 11, 'Burundi')
(35, 9, 'Belarus')
(36, 5, 'Cambodia')
(37, 11, 'Cameroon')
(38, 1, 'Canada')
(41, 11, 'Central African Republic')
(42, 11, 'Chad')
(43, 3, 'Chile')
(44, 4, 'China')
(45, 3, 'Colombia')
(46, 11, 'Comoros')
(47, 11, 'Republic of the Congo')
(49, 2, 'Costa Rica')
(50, 9, 'Croatia')
(51, 2, 'Cuba')
(53, 8, 'Cyprus')
(54, 9, 'Czech Republic')
(55, 8, 'Denmark')
(56, 11, 'Djibouti')
(57, 2, 'Dominica')
(58, 2, 'Dominican Republic')
(59, 3, 'Ecuador')
(60, 10, 'Egypt')
(61, 2, 'El Salvador')
(62, 11, 'Equatorial Guinea')
(63, 11, 'Eritrea')
(64, 9, 'Estonia')
(65, 11, 'Ethiopia')
(66, 3, 'Falkland Islands')
(67, 12, 'Fiji')
(68, 8, 'Finland')
(69, 8, 'France')
(70, 3, 'French Guiana')
(71, 12, 'French Polynesia')
(72, 11, 'Gabon')
(73, 11, 'Gambia')
(74, 7, 'Georgia')
(75, 8, 'Germany')
(76, 11, 'Ghana')
(78, 8, 'Greece')
(80, 2, 'Grenada')
(81, 2, 'Guadeloupe')
(83, 2, 'Guatemala')
(84, 11, 'Guinea')
(85, 11, 'Guinea-Bissau')
(86, 3, 'Guyana')
(87, 2, 'Haiti')
(88, 2, 'Honduras')
(89, 4, 'Hong Kong')
(90, 9, 'Hungary')
(91, 8, 'Iceland')
(92, 6, 'India')
(93, 5, 'Indonesia')
(94, 10, 'Iran')
(95, 10, 'Iraq')
(96, 8, 'Ireland')
(97, 10, 'Israel')
(98, 8, 'Italy')
(99, 11, 'Ivory Coast')
(100, 2, 'Jamaica')
(101, 4, 'Japan')
(102, 10, 'Jordan')
(103, 7, 'Kazakhstan')
(104, 11, 'Kenya')
(106, 10, 'Kuwait')
(107, 7, 'Kyrgyzstan')
(108, 5, 'Laos')
(109, 9, 'Latvia')
(110, 10, 'Lebanon')
(111, 11, 'Lesotho')
(112, 11, 'Liberia')
(113, 10, 'Libya')
(115, 9, 'Lithuania')
(116, 8, 'Luxembourg')
(117, 4, 'Macau')
(118, 9, 'Macedonia')
(119, 11, 'Madagascar')
(120, 11, 'Malawi')
(121, 5, 'Malaysia')
(122, 6, 'Maldives')
(123, 11, 'Mali')
(124, 8, 'Malta')
(127, 2, 'Martinique')
(128, 11, 'Mauritania')
(129, 6, 'Mauritius')
(130, 1, 'Mexico')
(132, 9, 'Moldova')
(136, 10, 'Morocco')
(137, 11, 'Mozambique')
(138, 5, 'Myanmar')
(139, 11, 'Namibia')
(141, 6, 'Nepal')
(142, 8, 'Netherlands')
(143, 12, 'New Caledonia')
(144, 12, 'New Zealand')
(145, 2, 'Nicaragua')
(146, 11, 'Niger')
(147, 11, 'Nigeria')
(149, 4, 'North Korea')
(151, 8, 'Norway')
(153, 6, 'Pakistan')
(155, 10, 'West Bank and Gaza Strip')
(156, 2, 'Panama')
(157, 12, 'Papua New Guinea')
(158, 3, 'Paraguay')
(159, 3, 'Peru')
(160, 5, 'Philippines')
(161, 9, 'Poland')
(162, 8, 'Portugal')
(164, 10, 'Qatar')
(166, 9, 'Romania')
(167, 9, 'Russia')
(168, 11, 'Rwanda')
(173, 10, 'Saudi Arabia')
(174, 11, 'Senegal')
(175, 9, 'Serbia-Montenegro')
(176, 11, 'Seychelles')
(177, 11, 'Sierra Leone')
(178, 5, 'Singapore')
(179, 9, 'Slovak Republic')
(180, 9, 'Slovenia')
(181, 12, 'Solomon Islands')
(182, 11, 'Somalia')
(183, 11, 'South Africa')
(184, 4, 'South Korea')
(185, 8, 'Spain')
(186, 6, 'Sri Lanka')
(189, 2, 'St. Kitts and Nevis')
(190, 2, 'St. Lucia')
(195, 11, 'Sudan')
(196, 3, 'Suriname')
(197, 11, 'Swaziland')
(198, 8, 'Sweden')
(199, 8, 'Switzerland')
(200, 10, 'Syria')
(201, 4, 'Taiwan')
(202, 7, 'Tajikistan')
(203, 11, 'Tanzania')
(204, 11, 'Togo')
(205, 5, 'Thailand')
(207, 2, 'Trinidad and Tobago')
(208, 10, 'Tunisia')
(209, 10, 'Turkey')
(210, 7, 'Turkmenistan')
(213, 11, 'Uganda')
(214, 9, 'Ukraine')
(215, 10, 'United Arab Emirates')
(217, 1, 'United States')
(218, 3, 'Uruguay')
(219, 7, 'Uzbekistan')
(220, 12, 'Vanuatu')
(221, 8, 'Vatican City')
(222, 3, 'Venezuela')
(223, 5, 'Vietnam')
(226, 12, 'Wallis and Futuna')
(228, 10, 'Yemen')
(229, 11, 'Democratic Republic of the Congo')
(230, 11, 'Zambia')
(231, 11, 'Zimbabwe')
(235, 9, 'Yugoslavia')
(236, 9, 'Czechoslovakia')
(347, 5, 'East Timor')
(349, 10, 'Western Sahara')
(359, 9, 'Soviet Union')
(362, 8, 'West Germany (FRG)')
(377, 10, 'North Yemen')
(403, 11, 'Rhodesia')
(406, 10, 'South Yemen')
(422, 10, 'International')
(428, 5, 'South Vietnam')
(499, 9, 'East Germany (GDR)')
(532, 12, 'New Hebrides')
(603, 8, 'United Kingdom')
(604, 11, 'Zaire')
(605, 11, "People's Republic of the Congo")
(1001, 9, 'Serbia')
(1002, 9, 'Montenegro')
(1003, 9, 'Kosovo')
(1004, 11, 'South Sudan')

In [44]:
# Country 테이블에 INSERT 
sql = '''INSERT INTO Country (country_code, region_code, country_name)
         VALUES (%s, %s, %s)'''

for item in records:
    cursor.execute(sql, item)
    conn.commit()

cursor.execute("SELECT * FROM Country")
records = cursor.fetchall()
for item in records:
    print(item)

(4, 6, 'Afghanistan')
(5, 9, 'Albania')
(6, 10, 'Algeria')
(7, 8, 'Andorra')
(8, 11, 'Angola')
(10, 2, 'Antigua and Barbuda')
(11, 3, 'Argentina')
(12, 7, 'Armenia')
(14, 12, 'Australia')
(15, 8, 'Austria')
(16, 7, 'Azerbaijan')
(17, 2, 'Bahamas')
(18, 10, 'Bahrain')
(19, 6, 'Bangladesh')
(20, 2, 'Barbados')
(21, 8, 'Belgium')
(22, 2, 'Belize')
(23, 11, 'Benin')
(25, 6, 'Bhutan')
(26, 3, 'Bolivia')
(28, 9, 'Bosnia-Herzegovina')
(29, 11, 'Botswana')
(30, 3, 'Brazil')
(31, 5, 'Brunei')
(32, 9, 'Bulgaria')
(33, 11, 'Burkina Faso')
(34, 11, 'Burundi')
(35, 9, 'Belarus')
(36, 5, 'Cambodia')
(37, 11, 'Cameroon')
(38, 1, 'Canada')
(41, 11, 'Central African Republic')
(42, 11, 'Chad')
(43, 3, 'Chile')
(44, 4, 'China')
(45, 3, 'Colombia')
(46, 11, 'Comoros')
(47, 11, 'Republic of the Congo')
(49, 2, 'Costa Rica')
(50, 9, 'Croatia')
(51, 2, 'Cuba')
(53, 8, 'Cyprus')
(54, 9, 'Czech Republic')
(55, 8, 'Denmark')
(56, 11, 'Djibouti')
(57, 2, 'Dominica')
(58, 2, 'Dominican Republic')
(59, 3, 'Ecuador')
(60, 10, 'Egypt')
(61, 2, 'El Salvador')
(62, 11, 'Equatorial Guinea')
(63, 11, 'Eritrea')
(64, 9, 'Estonia')
(65, 11, 'Ethiopia')
(66, 3, 'Falkland Islands')
(67, 12, 'Fiji')
(68, 8, 'Finland')
(69, 8, 'France')
(70, 3, 'French Guiana')
(71, 12, 'French Polynesia')
(72, 11, 'Gabon')
(73, 11, 'Gambia')
(74, 7, 'Georgia')
(75, 8, 'Germany')
(76, 11, 'Ghana')
(78, 8, 'Greece')
(80, 2, 'Grenada')
(81, 2, 'Guadeloupe')
(83, 2, 'Guatemala')
(84, 11, 'Guinea')
(85, 11, 'Guinea-Bissau')
(86, 3, 'Guyana')
(87, 2, 'Haiti')
(88, 2, 'Honduras')
(89, 4, 'Hong Kong')
(90, 9, 'Hungary')
(91, 8, 'Iceland')
(92, 6, 'India')
(93, 5, 'Indonesia')
(94, 10, 'Iran')
(95, 10, 'Iraq')
(96, 8, 'Ireland')
(97, 10, 'Israel')
(98, 8, 'Italy')
(99, 11, 'Ivory Coast')
(100, 2, 'Jamaica')
(101, 4, 'Japan')
(102, 10, 'Jordan')
(103, 7, 'Kazakhstan')
(104, 11, 'Kenya')
(106, 10, 'Kuwait')
(107, 7, 'Kyrgyzstan')
(108, 5, 'Laos')
(109, 9, 'Latvia')
(110, 10, 'Lebanon')
(111, 11, 'Lesotho')
(112, 11, 'Liberia')
(113, 10, 'Libya')
(115, 9, 'Lithuania')
(116, 8, 'Luxembourg')
(117, 4, 'Macau')
(118, 9, 'Macedonia')
(119, 11, 'Madagascar')
(120, 11, 'Malawi')
(121, 5, 'Malaysia')
(122, 6, 'Maldives')
(123, 11, 'Mali')
(124, 8, 'Malta')
(127, 2, 'Martinique')
(128, 11, 'Mauritania')
(129, 6, 'Mauritius')
(130, 1, 'Mexico')
(132, 9, 'Moldova')
(136, 10, 'Morocco')
(137, 11, 'Mozambique')
(138, 5, 'Myanmar')
(139, 11, 'Namibia')
(141, 6, 'Nepal')
(142, 8, 'Netherlands')
(143, 12, 'New Caledonia')
(144, 12, 'New Zealand')
(145, 2, 'Nicaragua')
(146, 11, 'Niger')
(147, 11, 'Nigeria')
(149, 4, 'North Korea')
(151, 8, 'Norway')
(153, 6, 'Pakistan')
(155, 10, 'West Bank and Gaza Strip')
(156, 2, 'Panama')
(157, 12, 'Papua New Guinea')
(158, 3, 'Paraguay')
(159, 3, 'Peru')
(160, 5, 'Philippines')
(161, 9, 'Poland')
(162, 8, 'Portugal')
(164, 10, 'Qatar')
(166, 9, 'Romania')
(167, 9, 'Russia')
(168, 11, 'Rwanda')
(173, 10, 'Saudi Arabia')
(174, 11, 'Senegal')
(175, 9, 'Serbia-Montenegro')
(176, 11, 'Seychelles')
(177, 11, 'Sierra Leone')
(178, 5, 'Singapore')
(179, 9, 'Slovak Republic')
(180, 9, 'Slovenia')
(181, 12, 'Solomon Islands')
(182, 11, 'Somalia')
(183, 11, 'South Africa')
(184, 4, 'South Korea')
(185, 8, 'Spain')
(186, 6, 'Sri Lanka')
(189, 2, 'St. Kitts and Nevis')
(190, 2, 'St. Lucia')
(195, 11, 'Sudan')
(196, 3, 'Suriname')
(197, 11, 'Swaziland')
(198, 8, 'Sweden')
(199, 8, 'Switzerland')
(200, 10, 'Syria')
(201, 4, 'Taiwan')
(202, 7, 'Tajikistan')
(203, 11, 'Tanzania')
(204, 11, 'Togo')
(205, 5, 'Thailand')
(207, 2, 'Trinidad and Tobago')
(208, 10, 'Tunisia')
(209, 10, 'Turkey')
(210, 7, 'Turkmenistan')
(213, 11, 'Uganda')
(214, 9, 'Ukraine')
(215, 10, 'United Arab Emirates')
(217, 1, 'United States')
(218, 3, 'Uruguay')
(219, 7, 'Uzbekistan')
(220, 12, 'Vanuatu')
(221, 8, 'Vatican City')
(222, 3, 'Venezuela')
(223, 5, 'Vietnam')
(226, 12, 'Wallis and Futuna')
(228, 10, 'Yemen')
(229, 11, 'Democratic Republic of the Congo')
(230, 11, 'Zambia')
(231, 11, 'Zimbabwe')
(235, 9, 'Yugoslavia')
(236, 9, 'Czechoslovakia')
(347, 5, 'East Timor')
(349, 10, 'Western Sahara')
(359, 9, 'Soviet Union')
(362, 8, 'West Germany (FRG)')
(377, 10, 'North Yemen')
(403, 11, 'Rhodesia')
(406, 10, 'South Yemen')
(422, 10, 'International')
(428, 5, 'South Vietnam')
(499, 9, 'East Germany (GDR)')
(532, 12, 'New Hebrides')
(603, 8, 'United Kingdom')
(604, 11, 'Zaire')
(605, 11, "People's Republic of the Congo")
(1001, 9, 'Serbia')
(1002, 9, 'Montenegro')
(1003, 9, 'Kosovo')
(1004, 11, 'South Sudan')

문제 3.  origin_terror_data 에서 attack type, target type, weapon type 관련 데이터는 code 와 txt 속성으로 정의되어 있습니다.  

문제 3-1. AttackType, TargetType, WeaponType 테이블을 그림과 같은 구조로 생성하세요. 

- origin_terror_data 를 분석하여 각 테이블의 데이터 타입을 정의하세요. 
- 문자열 데이터의 사이즈는 origin_terror_data 테이블에서 해당 데이터의 max length 를 쿼리로 체크하여 정의하세요. 

제출 5. Table 생성 및 조회 결과 : DESC AttackType, DESC TargetType, WeaponType

참고>
- AttackType.attacktype_code    = origin_terror_data.attacktype1
- AttackType.attacktype_desc    = origin_terror_data.attacktype1_txt 
- TargetType.targtype_code      = origin_terror_data.targtype1
- TargetType.targtype_desc      = origin_terror_data.targtype1_txt
- WeaponType.weaptype_code      = origin_terror_data.weaptype1
- WeaponType.weaptype_desc      = origin_terror_data.weaptype1_txt

In [45]:
# attacktype1 의 max length 체크 
cursor.execute("select max(length(attacktype1_txt)) from origin_terror_data")
records = cursor.fetchall()
print(records)

[(35,)]

In [46]:
# AttackType 테이블 만들기 
sql = '''create table AttackType
(
    attacktype_code int not null primary key, 
    attacktype_desc varchar(35) not null
); '''

cursor.execute(sql)

cursor.execute("desc AttackType")
records = cursor.fetchall()
for item in records:
    print(item)

('attacktype_code', b'int', 'NO', 'PRI', None, '')
('attacktype_desc', b'varchar(35)', 'NO', '', None, '')

In [47]:
# targettype1 의 max length 체크 
cursor.execute("select max(length(targtype1_txt)) from origin_terror_data")
records = cursor.fetchall()
print(records)

[(30,)]

In [48]:
# TargetType 테이블 만들기 
sql = '''create table TargetType
(
    targtype_code int not null primary key, 
    targtype_desc varchar(32) not null
); '''

cursor.execute(sql)

cursor.execute("desc TargetType")
records = cursor.fetchall()
for item in records:
    print(item)

('targtype_code', b'int', 'NO', 'PRI', None, '')
('targtype_desc', b'varchar(32)', 'NO', '', None, '')

In [49]:
# weaptype1 의 max length 체크 
cursor.execute("select max(length(weaptype1_txt)) from origin_terror_data")
records = cursor.fetchall()
print(records)

[(75,)]

In [50]:
# WeaponType 테이블 만들기 
sql = '''create table WeaponType
(
    weaptype_code int not null primary key, 
    weaptype_desc varchar(80) not null
); '''

cursor.execute(sql)

cursor.execute("desc WeaponType")
records = cursor.fetchall()
for item in records:
    print(item)

('weaptype_code', b'int', 'NO', 'PRI', None, '')
('weaptype_desc', b'varchar(80)', 'NO', '', None, '')

문제 3-2. origin_terror_data 테이블에서 Attack Type, Target Type, Weapon Type 데이터를 추출하여 문제 3-1.에서 생성한 테이블에 입력하고 확인하세요.   

- 중복을 제거한 Unique Data 를 추출하세요. 
- 데이터를 INSERT 할때 순서를 고민하세요.

제출 6. 관련 코드 및 실행 결과 (ipynb)

In [51]:
# attacktype1 데이터 추출하기 
cursor.execute("select attacktype1, attacktype1_txt from origin_terror_data group by attacktype1, attacktype1_txt order by attacktype1")
records = cursor.fetchall()
for item in records:
    print(item)

(1, 'Assassination')
(2, 'Armed Assault')
(3, 'Bombing/Explosion')
(4, 'Hijacking')
(5, 'Hostage Taking (Barricade Incident)')
(6, 'Hostage Taking (Kidnapping)')
(7, 'Facility/Infrastructure Attack')
(8, 'Unarmed Assault')
(9, 'Unknown')

In [52]:
# AttackType 테이블에 INSERT 
sql = '''INSERT INTO AttackType (attacktype_code, attacktype_desc)
         VALUES (%s, %s)'''

for item in records:
    cursor.execute(sql, item)
    conn.commit()

cursor.execute("SELECT * FROM AttackType")
records = cursor.fetchall()
for item in records:
    print(item)

(1, 'Assassination')
(2, 'Armed Assault')
(3, 'Bombing/Explosion')
(4, 'Hijacking')
(5, 'Hostage Taking (Barricade Incident)')
(6, 'Hostage Taking (Kidnapping)')
(7, 'Facility/Infrastructure Attack')
(8, 'Unarmed Assault')
(9, 'Unknown')

In [53]:
# targtype1 데이터 추출하기 
cursor.execute("select targtype1, targtype1_txt from origin_terror_data group by targtype1, targtype1_txt order by targtype1")
records = cursor.fetchall()
for item in records:
    print(item)

(1, 'Business')
(2, 'Government (General)')
(3, 'Police')
(4, 'Military')
(5, 'Abortion Related')
(6, 'Airports & Aircraft')
(7, 'Government (Diplomatic)')
(8, 'Educational Institution')
(9, 'Food or Water Supply')
(10, 'Journalists & Media')
(11, 'Maritime')
(12, 'NGO')
(13, 'Other')
(14, 'Private Citizens & Property')
(15, 'Religious Figures/Institutions')
(16, 'Telecommunication')
(17, 'Terrorists/Non-State Militia')
(18, 'Tourists')
(19, 'Transportation')
(20, 'Unknown')
(21, 'Utilities')
(22, 'Violent Political Party')

In [54]:
# TargetType 테이블에 INSERT 
sql = '''INSERT INTO TargetType (targtype_code, targtype_desc)
         VALUES (%s, %s)'''

for item in records:
    cursor.execute(sql, item)
    conn.commit()

cursor.execute("SELECT * FROM TargetType")
records = cursor.fetchall()
for item in records:
    print(item)

(1, 'Business')
(2, 'Government (General)')
(3, 'Police')
(4, 'Military')
(5, 'Abortion Related')
(6, 'Airports & Aircraft')
(7, 'Government (Diplomatic)')
(8, 'Educational Institution')
(9, 'Food or Water Supply')
(10, 'Journalists & Media')
(11, 'Maritime')
(12, 'NGO')
(13, 'Other')
(14, 'Private Citizens & Property')
(15, 'Religious Figures/Institutions')
(16, 'Telecommunication')
(17, 'Terrorists/Non-State Militia')
(18, 'Tourists')
(19, 'Transportation')
(20, 'Unknown')
(21, 'Utilities')
(22, 'Violent Political Party')

In [55]:
# weaptype1 데이터 추출하기 
cursor.execute("select weaptype1, weaptype1_txt from origin_terror_data group by weaptype1, weaptype1_txt order by weaptype1")
records = cursor.fetchall()
for item in records:
    print(item)

(1, 'Biological')
(2, 'Chemical')
(3, 'Radiological')
(5, 'Firearms')
(6, 'Explosives')
(7, 'Fake Weapons')
(8, 'Incendiary')
(9, 'Melee')
(10, 'Vehicle (not to include vehicle-borne explosives, i.e., car or truck bombs)')
(11, 'Sabotage Equipment')
(12, 'Other')
(13, 'Unknown')

In [56]:
# WeaponType 테이블에 INSERT 
sql = '''INSERT INTO WeaponType (weaptype_code, weaptype_desc)
         VALUES (%s, %s)'''

for item in records:
    cursor.execute(sql, item)
    conn.commit()

cursor.execute("SELECT * FROM WeaponType")
records = cursor.fetchall()
for item in records:
    print(item)

(1, 'Biological')
(2, 'Chemical')
(3, 'Radiological')
(5, 'Firearms')
(6, 'Explosives')
(7, 'Fake Weapons')
(8, 'Incendiary')
(9, 'Melee')
(10, 'Vehicle (not to include vehicle-borne explosives, i.e., car or truck bombs)')
(11, 'Sabotage Equipment')
(12, 'Other')
(13, 'Unknown')

문제 4. TerrorData 테이블을 만들고 앞서 만들어둔 테이블과 관계를 설정하도록 하겠습니다. 
문제 4-1. TerrorData 테이블을 앞의 그림과 같이 생성하세요. 

- origin_terror_data 를 분석하여 데이터 타입을 정의하세요. 
- 문자열 데이터의 사이즈는 origin_terror_data 테이블에서 해당 데이터의 max length 를 쿼리로 체크하여 정의하세요. 

제출 7. Table 생성 및 조회 결과 : DESC TerrorData, SELECT COUNT(*) FROM TerrorData 

참고> 
- TerrorData.terror id : Auto Increment 
- TerrorData.city_name    = origin_terror_data.city
- TerrorData.target       = orgin_terror_data.target1
- TerrorData.group_name   = origin_terror_data.gname
- TerrorData.kill_count   = origin_terror_data.nkill
- TerrorData.wound_count  = origin_terror_data.nwound
- TerrorData.motive       = origin_terror_data.motive
- TerrorData.summary      = origin_terror_data.summary
- TerrorData.latitude     = origin_terror_data_latitude
- TerrorData.longitude    = origin_terror_data_longitude
- TerrorData.terror_date  = origin_terror_data.iyear + origin_terror_Data.imonth + origin_terror_data.iday (Date Type)

In [57]:
# max length 체크 

# city 의 max length 체크 
cursor.execute("select max(length(city)) from origin_terror_data")
print("city :", cursor.fetchall()[0][0])

# target1 의 max length 체크 
cursor.execute("select max(length(target1)) from origin_terror_data")
print("target1 :", cursor.fetchall()[0][0])

# gname 의 max length 체크 
cursor.execute("select max(length(gname)) from origin_terror_data")
print("gname :", cursor.fetchall()[0][0])

# summary 의 max length 체크 
cursor.execute("select max(length(summary)) from origin_terror_data")
print("summary :", cursor.fetchall()[0][0])

# motive 의 max length 체크 
cursor.execute("select max(length(motive)) from origin_terror_data")
print("motive :", cursor.fetchall()[0][0])# max length 체크 

# city 의 max length 체크 
cursor.execute("select max(length(city)) from origin_terror_data")
print("city :", cursor.fetchall()[0][0])

# target1 의 max length 체크 
cursor.execute("select max(length(target1)) from origin_terror_data")
print("target1 :", cursor.fetchall()[0][0])

# gname 의 max length 체크 
cursor.execute("select max(length(gname)) from origin_terror_data")
print("gname :", cursor.fetchall()[0][0])

# summary 의 max length 체크 
cursor.execute("select max(length(summary)) from origin_terror_data")
print("summary :", cursor.fetchall()[0][0])

# motive 의 max length 체크 
cursor.execute("select max(length(motive)) from origin_terror_data")
print("motive :", cursor.fetchall()[0][0])

city : 65
target1 : 343
gname : 112
summary : 2431
motive : 899
city : 65
target1 : 343
gname : 112
summary : 2431
motive : 899

In [58]:
# TerrorData 테이블 만들기 
sql = '''create table TerrorData
(
    terror_id int not null auto_increment primary key,
    terror_date date not null,
    region_code int not null,
    country_code int not null,    
    city varchar(65),
    target varchar(350),
    group_name varchar(120),
    targtype_code int not null,
    attacktype_code int not null,
    weaptype_code int not null,
    kill_count int not null default 0,
    wound_count int not null default 0,
    motive varchar(900),
    summary varchar(2450),
    latitude DECIMAL(16,14),
    longitude DECIMAL(17,14),
    FOREIGN KEY (region_code) REFERENCES Region(region_code),
    foreign key (country_code) references Country(country_code),
    foreign key (attacktype_code) references AttackType(attacktype_code),
    foreign key (targtype_code) references TargetType(targtype_code),
    foreign key (weaptype_code) references WeaponType(weaptype_code)
); '''

cursor.execute(sql)

cursor.execute("desc TerrorData")
records = cursor.fetchall()
for item in records:
    print(item)

('terror_id', b'int', 'NO', 'PRI', None, 'auto_increment')
('terror_date', b'date', 'NO', '', None, '')
('region_code', b'int', 'NO', 'MUL', None, '')
('country_code', b'int', 'NO', 'MUL', None, '')
('city', b'varchar(65)', 'YES', '', None, '')
('target', b'varchar(350)', 'YES', '', None, '')
('group_name', b'varchar(120)', 'YES', '', None, '')
('targtype_code', b'int', 'NO', 'MUL', None, '')
('attacktype_code', b'int', 'NO', 'MUL', None, '')
('weaptype_code', b'int', 'NO', 'MUL', None, '')
('kill_count', b'int', 'NO', '', b'0', '')
('wound_count', b'int', 'NO', '', b'0', '')
('motive', b'varchar(900)', 'YES', '', None, '')
('summary', b'varchar(2450)', 'YES', '', None, '')
('latitude', b'decimal(16,14)', 'YES', '', None, '')
('longitude', b'decimal(17,14)', 'YES', '', None, '')

문제 4-2. origin_terror_data 테이블에서 Terror Data를 추출하여 문제 4-1.에서 생성한 테이블에 입력하고 확인하세요.

- 앞서 생성한 Region, Country, AttackType, TargetType, WeaponType 데이터와의 관계에 주의하세요.
- Count 값을 가지는 칼럼의 값이 null 인 경우, 0으로 예외처리 해주세요.
- 위도 경도 데이터 중 범위를 넘어서는 데이터가 존재합니다. 이 경우, null 값으로 예외처리 해주세요. (위도 경도 범위 : 구글링해보세요.)
- terror_date 칼럼의 경우, origin_terror_data 의 연, 월, 일 정보를 조합하여 date type 으로 정의해주세요. (Format : ‘YYYY-mm-dd’)
- origin_terror_data 의 월, 일 정보중 값이 0 인 경우 date type 으로 변환되지 않습니다. 이 경우, 1 로 예외처리 해주세요.
- 데이터 입력까지 완료한 이후, origin_terror_data 테이블을 삭제하고 확인하세요.

제출 8. 관련 코드 및 실행 결과 (ipynb)

In [25]:
# data 전처리 
# date type : year + month + day (month = 0 인경우 1, day = 0 인경우 1)
# nkill, nwound : null 인 경우 0
# longitude range : 180 ~ -180
# check : select longitude from origin_terror_data where longitude < -180 or longitude > 180; '-86185896'

# terror 데이터 추출하기 
sql = '''select DATE_FORMAT(CONCAT(iyear, '-', IF(imonth=0, 1, imonth), '-', IF(iday=0, 1, iday)), '%Y-%m-%d'),
                region, country, city, target1, gname, targtype1, attacktype1, weaptype1, 
                IFNULL(nkill, 0), IFNULL(nwound, 0), motive, summary, latitude, IF(longitude<180, null, longitude)
         from origin_terror_data'''

cursor.execute(sql)
records = cursor.fetchall()

In [41]:
# TerrorData 테이블에 INSERT 
from tqdm import notebook

sql = '''INSERT INTO TerrorData (terror_date, region_code, country_code, city, target, group_name, 
                                 targtype_code, attacktype_code, weaptype_code, 
                                 kill_count, wound_count, motive, summary, latitude, longitude)
         VALUES (%s, %s, %s, %s, %s, %s,
                 %s, %s, %s, 
                 %s, %s, %s, %s, %s, %s)'''

step = 10000
for i in notebook.tqdm(range(0, len(records),step)):
    div_data = records[i:i+step]
    cursor.executemany(sql, div_data)
    conn.commit()

cursor.execute("SELECT COUNT(*) FROM TerrorData")
records = cursor.fetchall()
print(records)

  0%|          | 0/19 [00:00<?, ?it/s]

[(181691,)]

In [ ]:
# origin_terror_data 테이블 제거
cursor.execute("DROP TABLE origin_terror_data")

In [4]:
cursor.execute("SHOW TABLES")
records = cursor.fetchall()
for item in records:
    print(item)

('AttackType',)
('COFFEE_BRAND',)
('COFFEE_STORE',)
('Country',)
('GAS_BRAND',)
('GAS_STATION',)
('Region',)
('TargetType',)
('TerrorData',)
('WeaponType',)

문제 5. TerrorData 의 전체 기간에서 테러의 숫자를 연도별로 집계하여 연도별 테러 발생 건수를 조회하세요. 

- Python 코드에서 SQL 쿼리를 사용하여 조회합니다. 

제출 9. 관련 코드 및 실행 결과 (ipynb)

In [59]:
import pandas as pd
sql = '''SELECT DATE_FORMAT(terror_date, '%Y') as Year, COUNT(*) as Cnt
        FROM TerrorData
        GROUP BY Year'''

cursor.execute(sql)
records = cursor.fetchall()
for item in records:
    print(item)

('1970', 651)
('1971', 471)
('1972', 568)
('1973', 473)
('1974', 581)
('1975', 740)
('1976', 923)
('1977', 1319)
('1978', 1526)
('1979', 2662)
('1980', 2662)
('1981', 2586)
('1986', 2860)
('1982', 2544)
('1983', 2870)
('1984', 3495)
('1985', 2915)
('1987', 3183)
('1988', 3721)
('1989', 4324)
('1990', 3887)
('1991', 4683)
('1992', 5071)
('1994', 3456)
('1995', 3081)
('1996', 3058)
('1997', 3197)
('1998', 934)
('1999', 1395)
('2000', 1814)
('2001', 1906)
('2002', 1333)
('2003', 1278)
('2004', 1166)
('2005', 2017)
('2006', 2758)
('2007', 3242)
('2008', 4805)
('2009', 4721)
('2010', 4826)
('2011', 5076)
('2012', 8522)
('2013', 12036)
('2014', 16903)
('2015', 14965)
('2016', 13587)
('2017', 10900)

문제 6. TerrorData 에서 테러가 가장 많이 일어난 순서로 국가를 정렬하여 상위 10위 국가를 조회하세요. 

- Python 코드에서 SQL 쿼리를 사용하여 조회합니다. 
- 국가 정보는 이름으로 출력하세요.

제출 10. 관련 코드 및 실행 결과 (ipynb)

In [75]:
# 테러가 많이 일어난 상위 10위 Region

sql = '''SELECT R.region_name as region, COUNT(T.terror_id) as terror_cnt
        FROM Region as R, TerrorData as T
        WHERE R.region_code = T.region_code
        GROUP BY region
        ORDER BY terror_cnt DESC
        LIMIT 10
        '''

cursor.execute(sql)
records = cursor.fetchall()
for item in records:
    print(item)

('Middle East & North Africa', 50474)
('South Asia', 44974)
('South America', 18978)
('Sub-Saharan Africa', 17550)
('Western Europe', 16639)
('Southeast Asia', 12485)
('Central America & Caribbean', 10344)
('Eastern Europe', 5144)
('North America', 3456)
('East Asia', 802)

In [76]:
# 테러가 많이 일어난 상위 10위 Country 

sql = '''SELECT C.country_name as country, COUNT(T.terror_id) as terror_cnt
        FROM Country as C, TerrorData as T
        WHERE C.country_code = T.country_code
        GROUP BY country
        ORDER BY terror_cnt DESC
        LIMIT 10
        '''

cursor.execute(sql)
records = cursor.fetchall()
for item in records:
    print(item)

('Iraq', 24636)
('Pakistan', 14368)
('Afghanistan', 12731)
('India', 11960)
('Colombia', 8306)
('Philippines', 6908)
('Peru', 6096)
('El Salvador', 5320)
('United Kingdom', 5235)
('Turkey', 4292)

문제 7. TerrorData 에서 테러가 가장 많이 일어난 상위 10위 국가에 대해 국가별로 사망자수와 부상자수, 사상자수(사망자수 + 부상자수)를 조회하세요. 

- Python 코드에서 SQL 쿼리를 사용하여 조회합니다. 
- 국가 정보는 이름으로 출력하세요.

제출 11. 관련 코드 및 실행 결과 (ipynb)

In [81]:
sql = '''SELECT C.country_name as country,
                COUNT(T.terror_id) as terror_cnt,
                SUM(T.kill_count) as kill_cnt, 
                SUM(T.wound_count ) as wound_cnt, 
                SUM(T.kill_count+T.wound_count) as casualties_cnt
        FROM Country as C, TerrorData as T
        WHERE C.country_code = T.country_code
        GROUP BY country
        ORDER BY terror_cnt DESC
        LIMIT 10
        '''

cursor.execute(sql)
records = cursor.fetchall()
for item in records:
    print(item)

('Iraq', 24636, Decimal('78589'), Decimal('134690'), Decimal('213279'))
('Pakistan', 14368, Decimal('23822'), Decimal('42038'), Decimal('65860'))
('Afghanistan', 12731, Decimal('39384'), Decimal('44277'), Decimal('83661'))
('India', 11960, Decimal('19341'), Decimal('28980'), Decimal('48321'))
('Colombia', 8306, Decimal('14698'), Decimal('10328'), Decimal('25026'))
('Philippines', 6908, Decimal('9559'), Decimal('13367'), Decimal('22926'))
('Peru', 6096, Decimal('12771'), Decimal('4078'), Decimal('16849'))
('El Salvador', 5320, Decimal('12053'), Decimal('5062'), Decimal('17115'))
('United Kingdom', 5235, Decimal('3410'), Decimal('6106'), Decimal('9516'))
('Turkey', 4292, Decimal('6888'), Decimal('9899'), Decimal('16787'))

문제 8. 지역별 테러 공격 형태에 따른 사망자수, 부상자수, 사상자수를 조회하세요.

- Python 코드에서 SQL 쿼리를 사용하여 조회합니다. 
- 지역 정보(Region)는 이름으로 출력하세요.

제출 12. 관련 코드 및 실행 결과 (ipynb)

In [84]:
# 지역별 테러 공격 형태에 따른 사망자와 사상자 수 

sql = '''SELECT R.region_name as region,
                A.attacktype_desc as attack_type,
                SUM(T.kill_count) as kill_cnt, 
                SUM(T.wound_count ) as wound_cnt, 
                SUM(T.kill_count+T.wound_count) as casualties_cnt
        FROM Region as R, AttackType as A, TerrorData as T
        WHERE R.region_code = T.region_code AND T.attacktype_code = A.attacktype_code
        GROUP BY region, attack_type
        ORDER BY region DESC
        '''

cursor.execute(sql)
records = cursor.fetchall()
for item in records:
    print(item)

('Western Europe', 'Armed Assault', Decimal('975'), Decimal('2062'), Decimal('3037'))
('Western Europe', 'Assassination', Decimal('2673'), Decimal('801'), Decimal('3474'))
('Western Europe', 'Bombing/Explosion', Decimal('2525'), Decimal('14046'), Decimal('16571'))
('Western Europe', 'Facility/Infrastructure Attack', Decimal('58'), Decimal('374'), Decimal('432'))
('Western Europe', 'Hijacking', Decimal('133'), Decimal('66'), Decimal('199'))
('Western Europe', 'Hostage Taking (Barricade Incident)', Decimal('170'), Decimal('389'), Decimal('559'))
('Western Europe', 'Hostage Taking (Kidnapping)', Decimal('77'), Decimal('33'), Decimal('110'))
('Western Europe', 'Unarmed Assault', Decimal('53'), Decimal('435'), Decimal('488'))
('Western Europe', 'Unknown', Decimal('30'), Decimal('126'), Decimal('156'))
('Sub-Saharan Africa', 'Armed Assault', Decimal('42224'), Decimal('15717'), Decimal('57941'))
('Sub-Saharan Africa', 'Assassination', Decimal('2371'), Decimal('1082'), Decimal('3453'))
('Sub-Saharan Africa', 'Bombing/Explosion', Decimal('16261'), Decimal('28448'), Decimal('44709'))
('Sub-Saharan Africa', 'Facility/Infrastructure Attack', Decimal('1584'), Decimal('502'), Decimal('2086'))
('Sub-Saharan Africa', 'Hijacking', Decimal('50'), Decimal('38'), Decimal('88'))
('Sub-Saharan Africa', 'Hostage Taking (Barricade Incident)', Decimal('1300'), Decimal('1021'), Decimal('2321'))
('Sub-Saharan Africa', 'Hostage Taking (Kidnapping)', Decimal('5065'), Decimal('2673'), Decimal('7738'))
('Sub-Saharan Africa', 'Unarmed Assault', Decimal('405'), Decimal('753'), Decimal('1158'))
('Sub-Saharan Africa', 'Unknown', Decimal('9126'), Decimal('2624'), Decimal('11750'))
('Southeast Asia', 'Armed Assault', Decimal('7745'), Decimal('5667'), Decimal('13412'))
('Southeast Asia', 'Assassination', Decimal('1632'), Decimal('821'), Decimal('2453'))
('Southeast Asia', 'Bombing/Explosion', Decimal('3854'), Decimal('18547'), Decimal('22401'))
('Southeast Asia', 'Facility/Infrastructure Attack', Decimal('150'), Decimal('204'), Decimal('354'))
('Southeast Asia', 'Hijacking', Decimal('164'), Decimal('35'), Decimal('199'))
('Southeast Asia', 'Hostage Taking (Barricade Incident)', Decimal('224'), Decimal('58'), Decimal('282'))
('Southeast Asia', 'Hostage Taking (Kidnapping)', Decimal('562'), Decimal('164'), Decimal('726'))
('Southeast Asia', 'Unarmed Assault', Decimal('30'), Decimal('152'), Decimal('182'))
('Southeast Asia', 'Unknown', Decimal('1276'), Decimal('611'), Decimal('1887'))
('South Asia', 'Armed Assault', Decimal('39132'), Decimal('24505'), Decimal('63637'))
('South Asia', 'Assassination', Decimal('6701'), Decimal('5180'), Decimal('11881'))
('South Asia', 'Bombing/Explosion', Decimal('41490'), Decimal('97925'), Decimal('139415'))
('South Asia', 'Facility/Infrastructure Attack', Decimal('562'), Decimal('1132'), Decimal('1694'))
('South Asia', 'Hijacking', Decimal('142'), Decimal('206'), Decimal('348'))
('South Asia', 'Hostage Taking (Barricade Incident)', Decimal('795'), Decimal('872'), Decimal('1667'))
('South Asia', 'Hostage Taking (Kidnapping)', Decimal('4207'), Decimal('1350'), Decimal('5557'))
('South Asia', 'Unarmed Assault', Decimal('79'), Decimal('3661'), Decimal('3740'))
('South Asia', 'Unknown', Decimal('8211'), Decimal('6529'), Decimal('14740'))
('South America', 'Armed Assault', Decimal('16814'), Decimal('3887'), Decimal('20701'))
('South America', 'Assassination', Decimal('4239'), Decimal('655'), Decimal('4894'))
('South America', 'Bombing/Explosion', Decimal('4318'), Decimal('10933'), Decimal('15251'))
('South America', 'Facility/Infrastructure Attack', Decimal('238'), Decimal('143'), Decimal('381'))
('South America', 'Hijacking', Decimal('16'), Decimal('9'), Decimal('25'))
('South America', 'Hostage Taking (Barricade Incident)', Decimal('36'), Decimal('47'), Decimal('83'))
('South America', 'Hostage Taking (Kidnapping)', Decimal('1069'), Decimal('177'), Decimal('1246'))
('South America', 'Unarmed Assault', Decimal('75'), Decimal('108'), Decimal('183'))
('South America', 'Unknown', Decimal('2044'), Decimal('745'), Decimal('2789'))
('North America', 'Armed Assault', Decimal('837'), Decimal('1542'), Decimal('2379'))
('North America', 'Assassination', Decimal('238'), Decimal('84'), Decimal('322'))
('North America', 'Bombing/Explosion', Decimal('598'), Decimal('1806'), Decimal('2404'))
('North America', 'Facility/Infrastructure Attack', Decimal('64'), Decimal('460'), Decimal('524'))
('North America', 'Hijacking', Decimal('3005'), Decimal('16512'), Decimal('19517'))
('North America', 'Hostage Taking (Barricade Incident)', Decimal('81'), Decimal('80'), Decimal('161'))
('North America', 'Hostage Taking (Kidnapping)', Decimal('67'), Decimal('52'), Decimal('119'))
('North America', 'Unarmed Assault', Decimal('16'), Decimal('970'), Decimal('986'))
('North America', 'Unknown', Decimal('10'), Decimal('25'), Decimal('35'))
('Middle East & North Africa', 'Armed Assault', Decimal('26201'), Decimal('14894'), Decimal('41095'))
('Middle East & North Africa', 'Assassination', Decimal('4774'), Decimal('4521'), Decimal('9295'))
('Middle East & North Africa', 'Bombing/Explosion', Decimal('81183'), Decimal('187839'), Decimal('269022'))
('Middle East & North Africa', 'Facility/Infrastructure Attack', Decimal('802'), Decimal('618'), Decimal('1420'))
('Middle East & North Africa', 'Hijacking', Decimal('124'), Decimal('73'), Decimal('197'))
('Middle East & North Africa', 'Hostage Taking (Barricade Incident)', Decimal('1115'), Decimal('667'), Decimal('1782'))
('Middle East & North Africa', 'Hostage Taking (Kidnapping)', Decimal('12722'), Decimal('1518'), Decimal('14240'))
('Middle East & North Africa', 'Unarmed Assault', Decimal('145'), Decimal('701'), Decimal('846'))
('Middle East & North Africa', 'Unknown', Decimal('10576'), Decimal('3477'), Decimal('14053'))
('Eastern Europe', 'Armed Assault', Decimal('2046'), Decimal('1852'), Decimal('3898'))
('Eastern Europe', 'Assassination', Decimal('377'), Decimal('401'), Decimal('778'))
('Eastern Europe', 'Bombing/Explosion', Decimal('3725'), Decimal('8262'), Decimal('11987'))
('Eastern Europe', 'Facility/Infrastructure Attack', Decimal('33'), Decimal('63'), Decimal('96'))
('Eastern Europe', 'Hijacking', Decimal('57'), Decimal('25'), Decimal('82'))
('Eastern Europe', 'Hostage Taking (Barricade Incident)', Decimal('667'), Decimal('751'), Decimal('1418'))
('Eastern Europe', 'Hostage Taking (Kidnapping)', Decimal('175'), Decimal('415'), Decimal('590'))
('Eastern Europe', 'Unarmed Assault', Decimal('11'), Decimal('88'), Decimal('99'))
('Eastern Europe', 'Unknown', Decimal('324'), Decimal('188'), Decimal('512'))
('East Asia', 'Armed Assault', Decimal('612'), Decimal('707'), Decimal('1319'))
('East Asia', 'Assassination', Decimal('44'), Decimal('35'), Decimal('79'))
('East Asia', 'Bombing/Explosion', Decimal('398'), Decimal('1135'), Decimal('1533'))
('East Asia', 'Facility/Infrastructure Attack', Decimal('32'), Decimal('142'), Decimal('174'))
('East Asia', 'Hijacking', Decimal('9'), Decimal('17'), Decimal('26'))
('East Asia', 'Hostage Taking (Barricade Incident)', Decimal('19'), Decimal('26'), Decimal('45'))
('East Asia', 'Hostage Taking (Kidnapping)', Decimal('4'), Decimal('4'), Decimal('8'))
('East Asia', 'Unarmed Assault', Decimal('26'), Decimal('7040'), Decimal('7066'))
('East Asia', 'Unknown', Decimal('8'), Decimal('107'), Decimal('115'))
('Central Asia', 'Armed Assault', Decimal('400'), Decimal('988'), Decimal('1388'))
('Central Asia', 'Assassination', Decimal('138'), Decimal('52'), Decimal('190'))
('Central Asia', 'Bombing/Explosion', Decimal('349'), Decimal('849'), Decimal('1198'))
('Central Asia', 'Facility/Infrastructure Attack', Decimal('1'), Decimal('9'), Decimal('10'))
('Central Asia', 'Hijacking', Decimal('14'), Decimal('16'), Decimal('30'))
('Central Asia', 'Hostage Taking (Barricade Incident)', Decimal('6'), Decimal('1'), Decimal('7'))
('Central Asia', 'Hostage Taking (Kidnapping)', Decimal('10'), Decimal('11'), Decimal('21'))
('Central Asia', 'Unarmed Assault', Decimal('16'), Decimal('62'), Decimal('78'))
('Central Asia', 'Unknown', Decimal('66'), Decimal('21'), Decimal('87'))
('Central America & Caribbean', 'Armed Assault', Decimal('23233'), Decimal('5459'), Decimal('28692'))
('Central America & Caribbean', 'Assassination', Decimal('1699'), Decimal('246'), Decimal('1945'))
('Central America & Caribbean', 'Bombing/Explosion', Decimal('2611'), Decimal('2819'), Decimal('5430'))
('Central America & Caribbean', 'Facility/Infrastructure Attack', Decimal('118'), Decimal('105'), Decimal('223'))
('Central America & Caribbean', 'Hijacking', Decimal('4'), Decimal('4'), Decimal('8'))
('Central America & Caribbean', 'Hostage Taking (Barricade Incident)', Decimal('59'), Decimal('47'), Decimal('106'))
('Central America & Caribbean', 'Hostage Taking (Kidnapping)', Decimal('266'), Decimal('29'), Decimal('295'))
('Central America & Caribbean', 'Unarmed Assault', Decimal('23'), Decimal('16'), Decimal('39'))
('Central America & Caribbean', 'Unknown', Decimal('695'), Decimal('266'), Decimal('961'))
('Australasia & Oceania', 'Armed Assault', Decimal('78'), Decimal('87'), Decimal('165'))
('Australasia & Oceania', 'Assassination', Decimal('34'), Decimal('9'), Decimal('43'))
('Australasia & Oceania', 'Bombing/Explosion', Decimal('9'), Decimal('77'), Decimal('86'))
('Australasia & Oceania', 'Facility/Infrastructure Attack', Decimal('0'), Decimal('13'), Decimal('13'))
('Australasia & Oceania', 'Hijacking', Decimal('0'), Decimal('0'), Decimal('0'))
('Australasia & Oceania', 'Hostage Taking (Barricade Incident)', Decimal('6'), Decimal('7'), Decimal('13'))
('Australasia & Oceania', 'Hostage Taking (Kidnapping)', Decimal('7'), Decimal('20'), Decimal('27'))
('Australasia & Oceania', 'Unarmed Assault', Decimal('1'), Decimal('41'), Decimal('42'))
('Australasia & Oceania', 'Unknown', Decimal('15'), Decimal('6'), Decimal('21'))

In [5]:
conn.close()

---

# reference

민형동 (2020). Global Terrorism Data를 활용한 국가별 테러유형 분석. 한국공안행정학회, 82, 63-84. 

한인택 (2017). Global Terrorism Database를 활용한 테러리즘의 현황분석. 

민형기 (2019). 전세계 테러 데이터 분석 (따라하기). https://pinkwink.kr/1214 

ASHWINI SWSAIN (2018). Terrorism Around The World. https://www.kaggle.com/code/ash316/terrorism-around-the-world/notebook

START (National Consortium for the Study of Terrorism and Responses to Terrorism). (2021). *Global Terrorism Database* (GTD) [Data set]. University of Maryland. https://www.start.umd.edu/gtd

START (National Consortium for the Study of Terrorism and Responses to Terrorism). (2021, August). *Global Terrorism Database codebook: Methodology, inclusion criteria, and variables.* University of Maryland. https://www.start.umd.edu/gtd/downloads/Codebook.pdf