# ì œë¡œë² ì´ìŠ¤ë°ì´í„°ì‚¬ì´ì–¸ìŠ¤ ìŠ¤ì¿¨ ì›ë°ì´ í”„ë¡œì íŠ¸
> ## ì„¸ê³„ í…ŒëŸ¬ ë°ì´í„° ë¶„ì„ - SQL ì‚¬ìš©í•˜ê¸°

---

ì´ 8ë¬¸ì œ 100ì  ë§Œì  

- ë¬¸ì œ 1 10ì  
- ë¬¸ì œ 4ë²ˆ 30ì  
- ë¬¸ì œ 2,3,5,6,7,8ë²ˆ ê° 10ì

ì±„ì ì‹œ ë¬¸ì œë¥¼ ìˆ˜í–‰í–ˆëŠ”ì§€ ì—¬ë¶€ëŠ” ì •ëŸ‰í‰ê°€ë¥¼ ì§„í–‰í•˜ë©°, ìˆ˜í–‰í•œ ë‚´ìš©ì— ëŒ€í•´ì„œëŠ” ì±„ì ìì˜ ì£¼ê´€ì´ ê°œì…ëœ ì •ì„±í‰ê°€ê°€ ì§„í–‰ë¨ì„ ì•Œì•„ì£¼ì‹œë©´ ê°ì‚¬í•˜ê² ìŠµë‹ˆë‹¤.

ì •ë‹µì€ ì—†ìœ¼ë©°, ë°ì´í„° ë¶„ì„ê°€ë¡œì„œ ë³¸ì¸ì´ ë¶„ì„í•œ ë‚´ìš©ì„ ìƒëŒ€ë°©ì—ê²Œ ì˜ ì „ë‹¬í•  ìˆ˜ ìˆë„ë¡ ì •ë¦¬í•´ì£¼ì„¸ìš” ğŸ™‚

---

## Data Download
- https://www.kaggle.com/datasets/START-UMD/gtd

---

ë¬¸ì œ 1.  csv íŒŒì¼ì— ì €ì¥ëœ ì„¸ê³„ í…ŒëŸ¬ ë°ì´í„°ë¥¼ í•˜ë‚˜ì˜ í…Œì´ë¸”ì— ì €ì¥í•˜ì„¸ìš”. 

- globalterrorismmdb_0718.csv - https://www.kaggle.com/datasets/START-UMD/gtd
- pandasì˜ to_sql í•¨ìˆ˜ ì‚¬ìš© (íŒíŠ¸ : create_engine)
- Table name : origin_terror_data 

ì œì¶œ 1. Table ìƒì„± ë° ì¡°íšŒ ê²°ê³¼ : DESC origin_terror_data, SELECT  COUNT(*) FROM origin_terror_data

ì œì¶œ 2. ê´€ë ¨ ì½”ë“œ ë° ì‹¤í–‰ ê²°ê³¼ (ipynb)

In [ ]:
##############################################################################################
#  ë¬¸ì œ 1. ì›ë³¸ ë°ì´í„° (csv)ë¥¼ ë°ì´í„°ë² ì´ìŠ¤ë¡œ ë³€í™˜í•˜ê³  í™•ì¸í•˜ê¸° 
#  globalterrorismdb_0718dist.csv -> origin_terror_data (table)
#  Pandas ì˜ to_sql ì‚¬ìš© 
##############################################################################################

##############################################################################################
#  pip install pymysql
#  pip install SQLAlchemy Flask-SQLAlchemy
##############################################################################################

import time
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import configparser

# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
df = pd.read_csv('../data/terror.csv', encoding='ISO-8859-1')

# DB ì ‘ì† ì—”ì§„ ê°ì²´ ìƒì„±
user = 'oneday'
password = 'stella98'
host = 'localhost'
port = 3306
database = 'test01'

engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}:{port}/{database}', encoding='utf-8')

# DB í…Œì´ë¸” ëª…(ìƒì„±ë  í…Œì´ë¸” ì´ë¦„)
table_name = "origin_terror_data"

# DBì— DataFrame ì ì¬
df.to_sql(index = False, 
          name = table_name,
          con = engine,
          if_exists = 'append',
          method = 'multi', 
          chunksize = 10000)

records = engine.execute("SELECT COUNT(*) FROM origin_terror_data").fetchall()
print(records)

[(181691,)]

In [ ]:
# 230509 
##############################################################################################
#  ë¬¸ì œ 1. ì›ë³¸ ë°ì´í„° (csv)ë¥¼ ë°ì´í„°ë² ì´ìŠ¤ë¡œ ë³€í™˜í•˜ê³  í™•ì¸í•˜ê¸° 
#  globalterrorismdb_0718dist.csv -> origin_terror_data (table)
#  Pandas ì˜ to_sql ì‚¬ìš© 
##############################################################################################

##############################################################################################
#  pip install pymysql
#  pip install SQLAlchemy Flask-SQLAlchemy
##############################################################################################

import time
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import configparser

# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
df = pd.read_csv('globalterrorismdb_0718dist.csv', encoding='ISO-8859-1')

# DB ì ‘ì† ì—”ì§„ ê°ì²´ ìƒì„±
user = 'root'
password = 'password'
host = 'localhost'
port = 3306
database = 'ê³¼ì œë¥¼ í•  ë°ì´í„° ë² ì´ìŠ¤'

engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}:{port}/{database}?charset=utf8mb4')

# DB í…Œì´ë¸” ëª…(ìƒì„±ë  í…Œì´ë¸” ì´ë¦„)
table_name = "origin_terror_data"

# DBì— DataFrame ì ì¬
df.to_sql(index = False, 
          name = table_name,
          con = engine,
          if_exists = 'append',
          method = 'multi', 
          chunksize = 10000)

conn = engine.connect()
conn.close()

ë¬¸ì œ 2. origin_terror_data ì—ì„œ region, country ê´€ë ¨ ë°ì´í„°ëŠ” code ì™€ txt (name) ì†ì„±ìœ¼ë¡œ ì •ì˜ë˜ì–´ ìˆìŠµë‹ˆë‹¤. 

ë¬¸ì œ 2-1. Region ë° Country í…Œì´ë¸”ì„ ê·¸ë¦¼ê³¼ ê°™ì€ êµ¬ì¡°ë¡œ ìƒì„±í•˜ì„¸ìš”. 

- origin_terror_data ë¥¼ ë¶„ì„í•˜ì—¬ ê° í…Œì´ë¸”ì˜ ë°ì´í„° íƒ€ì…ì„ ì •ì˜í•˜ì„¸ìš”. 
- ë¬¸ìì—´ ë°ì´í„°ì˜ ì‚¬ì´ì¦ˆëŠ” origin_terror_data í…Œì´ë¸”ì—ì„œ í•´ë‹¹ ë°ì´í„°ì˜ max length ë¥¼ ì¿¼ë¦¬ë¡œ ì²´í¬í•˜ì—¬ ì •ì˜í•˜ì„¸ìš”. 
- Region ê³¼ Country ë°ì´í„° ì‚¬ì´ì˜ ê´€ê³„ë¥¼ íŒŒì•…í•˜ì—¬ Foreign Key ë¥¼ ì„¤ì •í•˜ì„¸ìš”.

ì°¸ê³ > 
- Region.region_code     = origin_terror_data.region
- Region.region_name     = origin_terror_data.region_txt
- Country.country_code   = origin_terror_data.country
- Country.country_name   = origin_terror_data.country_txt

In [ ]:
##############################################################################################
#  ë¬¸ì œ 2. region / country / city ë°ì´í„° ì¶”ì¶œí•˜ì—¬ ë°ì´í„°ë² ì´ìŠ¤ë¡œ ë³€í™˜í•˜ê¸° 
#  ì¤‘ë³µì„ ì œê±°í•œ code - name ê°’ 
#  region - country - city ê´€ê³„ ì •ì˜ 
##############################################################################################
import mysql.connector

conn = mysql.connector.connect(
    host = "localhost",
    port = 3306,
    user = "root",
    password = "stella98",
    database = "test01 "
)
cursor = conn.cursor(buffered=True)

In [ ]:
# region_txt ì˜ max length ì²´í¬ 
cursor.execute("select max(length(region_txt)) from origin_terror_data")
records = cursor.fetchall()
print(records)

[(27,)]

In [ ]:
# Region í…Œì´ë¸” ë§Œë“¤ê¸° 
sql = '''create table Region
( 
       region_code int not null primary key,  
       region_name varchar(32) not null
); '''

cursor.execute(sql)

cursor.execute("desc Region")
records = cursor.fetchall()
for item in records:
    print(item)

[('region_code', b'int', 'NO', 'PRI', None, ''), ('region_name', b'varchar(32)', 'NO', '', None, '')]

In [ ]:
# country_txt ì˜ max length ì²´í¬ 
cursor.execute("select max(length(country_txt)) from origin_terror_data")
records = cursor.fetchall()
print(records)

[(32,)]

In [ ]:
# Country í…Œì´ë¸” ë§Œë“¤ê¸° 
sql = '''create table Country
(
    country_code int not null primary key,
    region_code int not null,
    country_name varchar(32) not null,
    FOREIGN KEY (region_code) REFERENCES Region(region_code)
); '''

cursor.execute(sql)

cursor.execute("desc Country")
records = cursor.fetchall()
for item in records:
    print(item)

[('country_code', b'int', 'NO', 'PRI', None, ''), ('region_code', b'int', 'NO', 'MUL', None, ''), ('country_name', b'varchar(32)', 'NO', '', None, '')]

ë¬¸ì œ 2-2. origin_terror_data í…Œì´ë¸”ì—ì„œ Region ë° Country ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ì—¬ ë¬¸ì œ 2-1.ì—ì„œ ìƒì„±í•œ í…Œì´ë¸”ì— ì…ë ¥í•˜ê³  í™•ì¸í•˜ì„¸ìš”.   

- ì¤‘ë³µì„ ì œê±°í•œ Unique Data ë¥¼ ì¶”ì¶œí•˜ì„¸ìš”. 
- ë°ì´í„°ë¥¼ INSERT í• ë•Œ ìˆœì„œë¥¼ ê³ ë¯¼í•˜ì„¸ìš”. 

ì œì¶œ 3. Table ìƒì„± ë° ì¡°íšŒ ê²°ê³¼ : DESC Region, DESC Country

ì œì¶œ 4. ê´€ë ¨ ì½”ë“œ ë° ì‹¤í–‰ ê²°ê³¼ (ipynb)

In [ ]:
# Region ë°ì´í„° ì¶”ì¶œí•˜ê¸° 
cursor.execute("select region, region_txt from origin_terror_data group by region, region_txt order by region;")
records = cursor.fetchall()
for item in records:
    print(item)

[(1, 'North America'), (2, 'Central America & Caribbean'), (3, 'South America'), (4, 'East Asia'), (5, 'Southeast Asia'), (6, 'South Asia'), (7, 'Central Asia'), (8, 'Western Europe'), (9, 'Eastern Europe'), (10, 'Middle East & North Africa'), (11, 'Sub-Saharan Africa'), (12, 'Australasia & Oceania')]

In [ ]:
# Region í…Œì´ë¸”ì— INSERT 
sql = '''INSERT INTO Region (region_code, region_name)
         VALUES (%s, %s)'''

for item in records:
    cursor.execute(sql, item)
    conn.commit()

cursor.execute("SELECT COUNT(*) FROM Region")
print(cursor.fetchall())

[(12,)]

In [ ]:
# Country ë°ì´í„° ì¶”ì¶œí•˜ê¸° 
cursor.execute("select country, region, country_txt from origin_terror_data group by region, country, country_txt order by country, region;")
records = cursor.fetchall()
for item in records:
    print(item)

[(4, 6, 'Afghanistan'), (5, 9, 'Albania'), (6, 10, 'Algeria'), (7, 8, 'Andorra'), (8, 11, 'Angola'), (10, 2, 'Antigua and Barbuda'), (11, 3, 'Argentina'), (12, 7, 'Armenia'), (14, 12, 'Australia'), (15, 8, 'Austria'), (16, 7, 'Azerbaijan'), (17, 2, 'Bahamas'), (18, 10, 'Bahrain'), (19, 6, 'Bangladesh'), (20, 2, 'Barbados'), (21, 8, 'Belgium'), (22, 2, 'Belize'), (23, 11, 'Benin'), (25, 6, 'Bhutan'), (26, 3, 'Bolivia'), (28, 9, 'Bosnia-Herzegovina'), (29, 11, 'Botswana'), (30, 3, 'Brazil'), (31, 5, 'Brunei'), (32, 9, 'Bulgaria'), (33, 11, 'Burkina Faso'), (34, 11, 'Burundi'), (35, 9, 'Belarus'), (36, 5, 'Cambodia'), (37, 11, 'Cameroon'), (38, 1, 'Canada'), (41, 11, 'Central African Republic'), (42, 11, 'Chad'), (43, 3, 'Chile'), (44, 4, 'China'), (45, 3, 'Colombia'), (46, 11, 'Comoros'), (47, 11, 'Republic of the Congo'), (49, 2, 'Costa Rica'), (50, 9, 'Croatia'), (51, 2, 'Cuba'), (53, 8, 'Cyprus'), (54, 9, 'Czech Republic'), (55, 8, 'Denmark'), (56, 11, 'Djibouti'), (57, 2, 'Dominica'), (58, 2, 'Dominican Republic'), (59, 3, 'Ecuador'), (60, 10, 'Egypt'), (61, 2, 'El Salvador'), (62, 11, 'Equatorial Guinea'), (63, 11, 'Eritrea'), (64, 9, 'Estonia'), (65, 11, 'Ethiopia'), (66, 3, 'Falkland Islands'), (67, 12, 'Fiji'), (68, 8, 'Finland'), (69, 8, 'France'), (70, 3, 'French Guiana'), (71, 12, 'French Polynesia'), (72, 11, 'Gabon'), (73, 11, 'Gambia'), (74, 7, 'Georgia'), (75, 8, 'Germany'), (76, 11, 'Ghana'), (78, 8, 'Greece'), (80, 2, 'Grenada'), (81, 2, 'Guadeloupe'), (83, 2, 'Guatemala'), (84, 11, 'Guinea'), (85, 11, 'Guinea-Bissau'), (86, 3, 'Guyana'), (87, 2, 'Haiti'), (88, 2, 'Honduras'), (89, 4, 'Hong Kong'), (90, 9, 'Hungary'), (91, 8, 'Iceland'), (92, 6, 'India'), (93, 5, 'Indonesia'), (94, 10, 'Iran'), (95, 10, 'Iraq'), (96, 8, 'Ireland'), (97, 10, 'Israel'), (98, 8, 'Italy'), (99, 11, 'Ivory Coast'), (100, 2, 'Jamaica'), (101, 4, 'Japan'), (102, 10, 'Jordan'), (103, 7, 'Kazakhstan'), (104, 11, 'Kenya'), (106, 10, 'Kuwait'), (107, 7, 'Kyrgyzstan'), (108, 5, 'Laos'), (109, 9, 'Latvia'), (110, 10, 'Lebanon'), (111, 11, 'Lesotho'), (112, 11, 'Liberia'), (113, 10, 'Libya'), (115, 9, 'Lithuania'), (116, 8, 'Luxembourg'), (117, 4, 'Macau'), (118, 9, 'Macedonia'), (119, 11, 'Madagascar'), (120, 11, 'Malawi'), (121, 5, 'Malaysia'), (122, 6, 'Maldives'), (123, 11, 'Mali'), (124, 8, 'Malta'), (127, 2, 'Martinique'), (128, 11, 'Mauritania'), (129, 6, 'Mauritius'), (130, 1, 'Mexico'), (132, 9, 'Moldova'), (136, 10, 'Morocco'), (137, 11, 'Mozambique'), (138, 5, 'Myanmar'), (139, 11, 'Namibia'), (141, 6, 'Nepal'), (142, 8, 'Netherlands'), (143, 12, 'New Caledonia'), (144, 12, 'New Zealand'), (145, 2, 'Nicaragua'), (146, 11, 'Niger'), (147, 11, 'Nigeria'), (149, 4, 'North Korea'), (151, 8, 'Norway'), (153, 6, 'Pakistan'), (155, 10, 'West Bank and Gaza Strip'), (156, 2, 'Panama'), (157, 12, 'Papua New Guinea'), (158, 3, 'Paraguay'), (159, 3, 'Peru'), (160, 5, 'Philippines'), (161, 9, 'Poland'), (162, 8, 'Portugal'), (164, 10, 'Qatar'), (166, 9, 'Romania'), (167, 9, 'Russia'), (168, 11, 'Rwanda'), (173, 10, 'Saudi Arabia'), (174, 11, 'Senegal'), (175, 9, 'Serbia-Montenegro'), (176, 11, 'Seychelles'), (177, 11, 'Sierra Leone'), (178, 5, 'Singapore'), (179, 9, 'Slovak Republic'), (180, 9, 'Slovenia'), (181, 12, 'Solomon Islands'), (182, 11, 'Somalia'), (183, 11, 'South Africa'), (184, 4, 'South Korea'), (185, 8, 'Spain'), (186, 6, 'Sri Lanka'), (189, 2, 'St. Kitts and Nevis'), (190, 2, 'St. Lucia'), (195, 11, 'Sudan'), (196, 3, 'Suriname'), (197, 11, 'Swaziland'), (198, 8, 'Sweden'), (199, 8, 'Switzerland'), (200, 10, 'Syria'), (201, 4, 'Taiwan'), (202, 7, 'Tajikistan'), (203, 11, 'Tanzania'), (204, 11, 'Togo'), (205, 5, 'Thailand'), (207, 2, 'Trinidad and Tobago'), (208, 10, 'Tunisia'), (209, 10, 'Turkey'), (210, 7, 'Turkmenistan'), (213, 11, 'Uganda'), (214, 9, 'Ukraine'), (215, 10, 'United Arab Emirates'), (217, 1, 'United States'), (218, 3, 'Uruguay'), (219, 7, 'Uzbekistan'), (220, 12, 'Vanuatu'), (221, 8, 'Vatican City'), (222, 3, 'Venezuela'), (223, 5, 'Vietnam'), (226, 12, 'Wallis and Futuna'), (228, 10, 'Yemen'), (229, 11, 'Democratic Republic of the Congo'), (230, 11, 'Zambia'), (231, 11, 'Zimbabwe'), (235, 9, 'Yugoslavia'), (236, 9, 'Czechoslovakia'), (347, 5, 'East Timor'), (349, 10, 'Western Sahara'), (359, 9, 'Soviet Union'), (362, 8, 'West Germany (FRG)'), (377, 10, 'North Yemen'), (403, 11, 'Rhodesia'), (406, 10, 'South Yemen'), (422, 10, 'International'), (428, 5, 'South Vietnam'), (499, 9, 'East Germany (GDR)'), (532, 12, 'New Hebrides'), (603, 8, 'United Kingdom'), (604, 11, 'Zaire'), (605, 11, "People's Republic of the Congo"), (1001, 9, 'Serbia'), (1002, 9, 'Montenegro'), (1003, 9, 'Kosovo'), (1004, 11, 'South Sudan')]

In [ ]:
# Country í…Œì´ë¸”ì— INSERT 
sql = '''INSERT INTO Country (country_code, region_code, country_name)
         VALUES (%s, %s, %s)'''

for item in records:
    cursor.execute(sql, item)
    conn.commit()

cursor.execute("SELECT * FROM Country")
records = cursor.fetchall()
for item in records:
    print(item)

(4, 6, 'Afghanistan')
(5, 9, 'Albania')
(6, 10, 'Algeria')
(7, 8, 'Andorra')
(8, 11, 'Angola')
(10, 2, 'Antigua and Barbuda')
(11, 3, 'Argentina')
(12, 7, 'Armenia')
(14, 12, 'Australia')
(15, 8, 'Austria')
(16, 7, 'Azerbaijan')
(17, 2, 'Bahamas')
(18, 10, 'Bahrain')
(19, 6, 'Bangladesh')
(20, 2, 'Barbados')
(21, 8, 'Belgium')
(22, 2, 'Belize')
(23, 11, 'Benin')
(25, 6, 'Bhutan')
(26, 3, 'Bolivia')
(28, 9, 'Bosnia-Herzegovina')
(29, 11, 'Botswana')
(30, 3, 'Brazil')
(31, 5, 'Brunei')
(32, 9, 'Bulgaria')
(33, 11, 'Burkina Faso')
(34, 11, 'Burundi')
(35, 9, 'Belarus')
(36, 5, 'Cambodia')
(37, 11, 'Cameroon')
(38, 1, 'Canada')
(41, 11, 'Central African Republic')
(42, 11, 'Chad')
(43, 3, 'Chile')
(44, 4, 'China')
(45, 3, 'Colombia')
(46, 11, 'Comoros')
(47, 11, 'Republic of the Congo')
(49, 2, 'Costa Rica')
(50, 9, 'Croatia')
(51, 2, 'Cuba')
(53, 8, 'Cyprus')
(54, 9, 'Czech Republic')
(55, 8, 'Denmark')
(56, 11, 'Djibouti')
(57, 2, 'Dominica')
(58, 2, 'Dominican Republic')
(59, 3, 'Ecuador')
(60, 10, 'Egypt')
(61, 2, 'El Salvador')
(62, 11, 'Equatorial Guinea')
(63, 11, 'Eritrea')
(64, 9, 'Estonia')
(65, 11, 'Ethiopia')
(66, 3, 'Falkland Islands')
(67, 12, 'Fiji')
(68, 8, 'Finland')
(69, 8, 'France')
(70, 3, 'French Guiana')
(71, 12, 'French Polynesia')
(72, 11, 'Gabon')
(73, 11, 'Gambia')
(74, 7, 'Georgia')
(75, 8, 'Germany')
(76, 11, 'Ghana')
(78, 8, 'Greece')
(80, 2, 'Grenada')
(81, 2, 'Guadeloupe')
(83, 2, 'Guatemala')
(84, 11, 'Guinea')
(85, 11, 'Guinea-Bissau')
(86, 3, 'Guyana')
(87, 2, 'Haiti')
(88, 2, 'Honduras')
(89, 4, 'Hong Kong')
(90, 9, 'Hungary')
(91, 8, 'Iceland')
(92, 6, 'India')
(93, 5, 'Indonesia')
(94, 10, 'Iran')
(95, 10, 'Iraq')
(96, 8, 'Ireland')
(97, 10, 'Israel')
(98, 8, 'Italy')
(99, 11, 'Ivory Coast')
(100, 2, 'Jamaica')
(101, 4, 'Japan')
(102, 10, 'Jordan')
(103, 7, 'Kazakhstan')
(104, 11, 'Kenya')
(106, 10, 'Kuwait')
(107, 7, 'Kyrgyzstan')
(108, 5, 'Laos')
(109, 9, 'Latvia')
(110, 10, 'Lebanon')
(111, 11, 'Lesotho')
(112, 11, 'Liberia')
(113, 10, 'Libya')
(115, 9, 'Lithuania')
(116, 8, 'Luxembourg')
(117, 4, 'Macau')
(118, 9, 'Macedonia')
(119, 11, 'Madagascar')
(120, 11, 'Malawi')
(121, 5, 'Malaysia')
(122, 6, 'Maldives')
(123, 11, 'Mali')
(124, 8, 'Malta')
(127, 2, 'Martinique')
(128, 11, 'Mauritania')
(129, 6, 'Mauritius')
(130, 1, 'Mexico')
(132, 9, 'Moldova')
(136, 10, 'Morocco')
(137, 11, 'Mozambique')
(138, 5, 'Myanmar')
(139, 11, 'Namibia')
(141, 6, 'Nepal')
(142, 8, 'Netherlands')
(143, 12, 'New Caledonia')
(144, 12, 'New Zealand')
(145, 2, 'Nicaragua')
(146, 11, 'Niger')
(147, 11, 'Nigeria')
(149, 4, 'North Korea')
(151, 8, 'Norway')
(153, 6, 'Pakistan')
(155, 10, 'West Bank and Gaza Strip')
(156, 2, 'Panama')
(157, 12, 'Papua New Guinea')
(158, 3, 'Paraguay')
(159, 3, 'Peru')
(160, 5, 'Philippines')
(161, 9, 'Poland')
(162, 8, 'Portugal')
(164, 10, 'Qatar')
(166, 9, 'Romania')
(167, 9, 'Russia')
(168, 11, 'Rwanda')
(173, 10, 'Saudi Arabia')
(174, 11, 'Senegal')
(175, 9, 'Serbia-Montenegro')
(176, 11, 'Seychelles')
(177, 11, 'Sierra Leone')
(178, 5, 'Singapore')
(179, 9, 'Slovak Republic')
(180, 9, 'Slovenia')
(181, 12, 'Solomon Islands')
(182, 11, 'Somalia')
(183, 11, 'South Africa')
(184, 4, 'South Korea')
(185, 8, 'Spain')
(186, 6, 'Sri Lanka')
(189, 2, 'St. Kitts and Nevis')
(190, 2, 'St. Lucia')
(195, 11, 'Sudan')
(196, 3, 'Suriname')
(197, 11, 'Swaziland')
(198, 8, 'Sweden')
(199, 8, 'Switzerland')
(200, 10, 'Syria')
(201, 4, 'Taiwan')
(202, 7, 'Tajikistan')
(203, 11, 'Tanzania')
(204, 11, 'Togo')
(205, 5, 'Thailand')
(207, 2, 'Trinidad and Tobago')
(208, 10, 'Tunisia')
(209, 10, 'Turkey')
(210, 7, 'Turkmenistan')
(213, 11, 'Uganda')
(214, 9, 'Ukraine')
(215, 10, 'United Arab Emirates')
(217, 1, 'United States')
(218, 3, 'Uruguay')
(219, 7, 'Uzbekistan')
(220, 12, 'Vanuatu')
(221, 8, 'Vatican City')
(222, 3, 'Venezuela')
(223, 5, 'Vietnam')
(226, 12, 'Wallis and Futuna')
(228, 10, 'Yemen')
(229, 11, 'Democratic Republic of the Congo')
(230, 11, 'Zambia')
(231, 11, 'Zimbabwe')
(235, 9, 'Yugoslavia')
(236, 9, 'Czechoslovakia')
(347, 5, 'East Timor')
(349, 10, 'Western Sahara')
(359, 9, 'Soviet Union')
(362, 8, 'West Germany (FRG)')
(377, 10, 'North Yemen')
(403, 11, 'Rhodesia')
(406, 10, 'South Yemen')
(422, 10, 'International')
(428, 5, 'South Vietnam')
(499, 9, 'East Germany (GDR)')
(532, 12, 'New Hebrides')
(603, 8, 'United Kingdom')
(604, 11, 'Zaire')
(605, 11, "People's Republic of the Congo")
(1001, 9, 'Serbia')
(1002, 9, 'Montenegro')
(1003, 9, 'Kosovo')
(1004, 11, 'South Sudan')

ë¬¸ì œ 3.  origin_terror_data ì—ì„œ attack type, target type, weapon type ê´€ë ¨ ë°ì´í„°ëŠ” code ì™€ txt ì†ì„±ìœ¼ë¡œ ì •ì˜ë˜ì–´ ìˆìŠµë‹ˆë‹¤.  

ë¬¸ì œ 3-1. AttackType, TargetType, WeaponType í…Œì´ë¸”ì„ ê·¸ë¦¼ê³¼ ê°™ì€ êµ¬ì¡°ë¡œ ìƒì„±í•˜ì„¸ìš”. 

- origin_terror_data ë¥¼ ë¶„ì„í•˜ì—¬ ê° í…Œì´ë¸”ì˜ ë°ì´í„° íƒ€ì…ì„ ì •ì˜í•˜ì„¸ìš”. 
- ë¬¸ìì—´ ë°ì´í„°ì˜ ì‚¬ì´ì¦ˆëŠ” origin_terror_data í…Œì´ë¸”ì—ì„œ í•´ë‹¹ ë°ì´í„°ì˜ max length ë¥¼ ì¿¼ë¦¬ë¡œ ì²´í¬í•˜ì—¬ ì •ì˜í•˜ì„¸ìš”. 

ì°¸ê³ >
- AttackType.attacktype_code    = origin_terror_data.attacktype1
- AttackType.attacktype_desc    = origin_terror_data.attacktype1_txt 
- TargetType.targtype_code      = origin_terror_data.targtype1
- TargetType.targtype_desc      = origin_terror_data.targtype1_txt
- WeaponType.weaptype_code      = origin_terror_data.weaptype1
- WeaponType.weaptype_desc      = origin_terror_data.weaptype1_txt

In [ ]:
# attacktype1 ì˜ max length ì²´í¬ 
cursor.execute("select max(length(attacktype1_txt)) from origin_terror_data")
records = cursor.fetchall()
print(records)

[(35,)]

In [ ]:
# AttackType í…Œì´ë¸” ë§Œë“¤ê¸° 
sql = '''create table AttackType
(
    attacktype_code int not null primary key, 
    attacktype_desc varchar(35) not null
); '''

cursor.execute(sql)

cursor.execute("desc AttackType")
records = cursor.fetchall()
for item in records:
    print(item)

[('attacktype_code', b'int', 'NO', 'PRI', None, ''), ('attacktype_desc', b'varchar(35)', 'NO', '', None, '')]

In [ ]:
# targettype1 ì˜ max length ì²´í¬ 
cursor.execute("select max(length(targtype1_txt)) from origin_terror_data")
records = cursor.fetchall()
print(records)

[(30,)]

In [ ]:
# TargetType í…Œì´ë¸” ë§Œë“¤ê¸° 
sql = '''create table TargetType
(
    targtype_code int not null primary key, 
    targtype_desc varchar(32) not null
); '''

cursor.execute(sql)

cursor.execute("desc TargetType")
records = cursor.fetchall()
for item in records:
    print(item)

[('targtype_code', b'int', 'NO', 'PRI', None, ''), ('targtype_desc', b'varchar(32)', 'NO', '', None, '')]

In [ ]:
# weaptype1 ì˜ max length ì²´í¬ 
cursor.execute("select max(length(weaptype1_txt)) from origin_terror_data")
records = cursor.fetchall()
print(records)

[(75,)]

In [ ]:
# WeaponType í…Œì´ë¸” ë§Œë“¤ê¸° 
sql = '''create table WeaponType
(
    weaptype_code int not null primary key, 
    weaptype_desc varchar(80) not null
); '''

cursor.execute(sql)

cursor.execute("desc WeaponType")
records = cursor.fetchall()
for item in records:
    print(item)

[('weaptype_code', b'int', 'NO', 'PRI', None, ''), ('weaptype_desc', b'varchar(80)', 'NO', '', None, '')]

ë¬¸ì œ 3-2. origin_terror_data í…Œì´ë¸”ì—ì„œ Attack Type, Target Type, Weapon Type ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ì—¬ ë¬¸ì œ 3-1.ì—ì„œ ìƒì„±í•œ í…Œì´ë¸”ì— ì…ë ¥í•˜ê³  í™•ì¸í•˜ì„¸ìš”.   

- ì¤‘ë³µì„ ì œê±°í•œ Unique Data ë¥¼ ì¶”ì¶œí•˜ì„¸ìš”. 
- ë°ì´í„°ë¥¼ INSERT í• ë•Œ ìˆœì„œë¥¼ ê³ ë¯¼í•˜ì„¸ìš”.

ì œì¶œ 5. Table ìƒì„± ë° ì¡°íšŒ ê²°ê³¼ : DESC AttackType, DESC TargetType, WeaponType

ì œì¶œ 6. ê´€ë ¨ ì½”ë“œ ë° ì‹¤í–‰ ê²°ê³¼ (ipynb)

In [ ]:
# attacktype1 ë°ì´í„° ì¶”ì¶œí•˜ê¸° 
cursor.execute("select attacktype1, attacktype1_txt from origin_terror_data group by attacktype1, attacktype1_txt order by attacktype1")
records = cursor.fetchall()
for item in records:
    print(item)

[(1, 'Assassination'), (2, 'Armed Assault'), (3, 'Bombing/Explosion'), (4, 'Hijacking'), (5, 'Hostage Taking (Barricade Incident)'), (6, 'Hostage Taking (Kidnapping)'), (7, 'Facility/Infrastructure Attack'), (8, 'Unarmed Assault'), (9, 'Unknown')]

In [ ]:
# AttackType í…Œì´ë¸”ì— INSERT 
sql = '''INSERT INTO AttackType (attacktype_code, attacktype_desc)
         VALUES (%s, %s)'''

for item in records:
    cursor.execute(sql, item)
    conn.commit()

cursor.execute("SELECT * FROM AttackType")
records = cursor.fetchall()
for item in records:
    print(item)

(1, 'Assassination')
(2, 'Armed Assault')
(3, 'Bombing/Explosion')
(4, 'Hijacking')
(5, 'Hostage Taking (Barricade Incident)')
(6, 'Hostage Taking (Kidnapping)')
(7, 'Facility/Infrastructure Attack')
(8, 'Unarmed Assault')
(9, 'Unknown')

In [ ]:
# targtype1 ë°ì´í„° ì¶”ì¶œí•˜ê¸° 
cursor.execute("select targtype1, targtype1_txt from origin_terror_data group by targtype1, targtype1_txt order by targtype1")
records = cursor.fetchall()
for item in records:
    print(item)

(1, 'Business')
(2, 'Government (General)')
(3, 'Police')
(4, 'Military')
(5, 'Abortion Related')
(6, 'Airports & Aircraft')
(7, 'Government (Diplomatic)')
(8, 'Educational Institution')
(9, 'Food or Water Supply')
(10, 'Journalists & Media')
(11, 'Maritime')
(12, 'NGO')
(13, 'Other')
(14, 'Private Citizens & Property')
(15, 'Religious Figures/Institutions')
(16, 'Telecommunication')
(17, 'Terrorists/Non-State Militia')
(18, 'Tourists')
(19, 'Transportation')
(20, 'Unknown')
(21, 'Utilities')
(22, 'Violent Political Party')

In [ ]:
# TargetType í…Œì´ë¸”ì— INSERT 
sql = '''INSERT INTO TargetType (targtype_code, targtype_desc)
         VALUES (%s, %s)'''

for item in records:
    cursor.execute(sql, item)
    conn.commit()

cursor.execute("SELECT * FROM TargetType")
records = cursor.fetchall()
for item in records:
    print(item)

# ALTER TABLE tablename
# CHANGE COLUMN old_columnname new_columnname new_datatype;

(1, 'Business')
(2, 'Government (General)')
(3, 'Police')
(4, 'Military')
(5, 'Abortion Related')
(6, 'Airports & Aircraft')
(7, 'Government (Diplomatic)')
(8, 'Educational Institution')
(9, 'Food or Water Supply')
(10, 'Journalists & Media')
(11, 'Maritime')
(12, 'NGO')
(13, 'Other')
(14, 'Private Citizens & Property')
(15, 'Religious Figures/Institutions')
(16, 'Telecommunication')
(17, 'Terrorists/Non-State Militia')
(18, 'Tourists')
(19, 'Transportation')
(20, 'Unknown')
(21, 'Utilities')
(22, 'Violent Political Party')

In [ ]:
# weaptype1 ë°ì´í„° ì¶”ì¶œí•˜ê¸° 
cursor.execute("select weaptype1, weaptype1_txt from origin_terror_data group by weaptype1, weaptype1_txt order by weaptype1")
records = cursor.fetchall()
for item in records:
    print(item)

(1, 'Biological')
(2, 'Chemical')
(3, 'Radiological')
(5, 'Firearms')
(6, 'Explosives')
(7, 'Fake Weapons')
(8, 'Incendiary')
(9, 'Melee')
(10, 'Vehicle (not to include vehicle-borne explosives, i.e., car or truck bombs)')
(11, 'Sabotage Equipment')
(12, 'Other')
(13, 'Unknown')

In [ ]:
# WeaponType í…Œì´ë¸”ì— INSERT 
sql = '''INSERT INTO WeaponType (weaptype_code, weaptype_desc)
         VALUES (%s, %s)'''

for item in records:
    cursor.execute(sql, item)
    conn.commit()

cursor.execute("SELECT * FROM WeaponType")
records = cursor.fetchall()
for item in records:
    print(item)

(1, 'Biological')
(2, 'Chemical')
(3, 'Radiological')
(5, 'Firearms')
(6, 'Explosives')
(7, 'Fake Weapons')
(8, 'Incendiary')
(9, 'Melee')
(10, 'Vehicle (not to include vehicle-borne explosives, i.e., car or truck bombs)')
(11, 'Sabotage Equipment')
(12, 'Other')
(13, 'Unknown')

ë¬¸ì œ 4. TerrorData í…Œì´ë¸”ì„ ë§Œë“¤ê³  ì•ì„œ ë§Œë“¤ì–´ë‘” í…Œì´ë¸”ê³¼ ê´€ê³„ë¥¼ ì„¤ì •í•˜ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤. 
ë¬¸ì œ 4-1. TerrorData í…Œì´ë¸”ì„ ì•ì˜ ê·¸ë¦¼ê³¼ ê°™ì´ ìƒì„±í•˜ì„¸ìš”. 

- origin_terror_data ë¥¼ ë¶„ì„í•˜ì—¬ ë°ì´í„° íƒ€ì…ì„ ì •ì˜í•˜ì„¸ìš”. 
- ë¬¸ìì—´ ë°ì´í„°ì˜ ì‚¬ì´ì¦ˆëŠ” origin_terror_data í…Œì´ë¸”ì—ì„œ í•´ë‹¹ ë°ì´í„°ì˜ max length ë¥¼ ì¿¼ë¦¬ë¡œ ì²´í¬í•˜ì—¬ ì •ì˜í•˜ì„¸ìš”. 

ì°¸ê³ > 
- TerrorData.terror id : Auto Increment 
- TerrorData.city_name    = origin_terror_data.city
- TerrorData.target       = orgin_terror_data.target1
- TerrorData.group_name   = origin_terror_data.gname
- TerrorData.kill_count   = origin_terror_data.nkill
- TerrorData.wound_count  = origin_terror_data.nwound
- TerrorData.motive       = origin_terror_data.motive
- TerrorData.summary      = origin_terror_data.summary
- TerrorData.latitude     = origin_terror_data_latitude
- TerrorData.longitude    = origin_terror_data_longitude
- TerrorData.terror_date  = origin_terror_data.iyear + origin_terror_Data.imonth + origin_terror_data.iday (Date Type)

In [ ]:
# max length ì²´í¬ 

# city ì˜ max length ì²´í¬ 
cursor.execute("select max(length(city)) from origin_terror_data")
print("city :", cursor.fetchall()[0][0])

# target1 ì˜ max length ì²´í¬ 
cursor.execute("select max(length(target1)) from origin_terror_data")
print("target1 :", cursor.fetchall()[0][0])

# gname ì˜ max length ì²´í¬ 
cursor.execute("select max(length(gname)) from origin_terror_data")
print("gname :", cursor.fetchall()[0][0])

# summary ì˜ max length ì²´í¬ 
cursor.execute("select max(length(summary)) from origin_terror_data")
print("summary :", cursor.fetchall()[0][0])

# motive ì˜ max length ì²´í¬ 
cursor.execute("select max(length(motive)) from origin_terror_data")
print("motive :", cursor.fetchall()[0][0])# max length ì²´í¬ 

# city ì˜ max length ì²´í¬ 
cursor.execute("select max(length(city)) from origin_terror_data")
print("city :", cursor.fetchall()[0][0])

# target1 ì˜ max length ì²´í¬ 
cursor.execute("select max(length(target1)) from origin_terror_data")
print("target1 :", cursor.fetchall()[0][0])

# gname ì˜ max length ì²´í¬ 
cursor.execute("select max(length(gname)) from origin_terror_data")
print("gname :", cursor.fetchall()[0][0])

# summary ì˜ max length ì²´í¬ 
cursor.execute("select max(length(summary)) from origin_terror_data")
print("summary :", cursor.fetchall()[0][0])

# motive ì˜ max length ì²´í¬ 
cursor.execute("select max(length(motive)) from origin_terror_data")
print("motive :", cursor.fetchall()[0][0])

city : 65
target1 : 343
gname : 112
summary : 2431
motive : 899
city : 65
target1 : 343
gname : 112
summary : 2431
motive : 899

In [ ]:
# TerrorData í…Œì´ë¸” ë§Œë“¤ê¸° 
sql = '''create table TerrorData
(
	terror_id int not null auto_increment primary key,
    terror_date date not null,
    region_code int not null,
    country_code int not null,    
    city varchar(65),
    target varchar(350),
    group_name varchar(120),
    targtype_code int not null,
    attacktype_code int not null,
    weaptype_code int not null,
    kill_count int not null default 0,
    wound_count int not null default 0,
    motive varchar(900),
    summary varchar(2450),
    latitude DECIMAL(16,14),
    longitude DECIMAL(17,14),
    FOREIGN KEY (region_code) REFERENCES Region(region_code),
    foreign key (country_code) references Country(country_code),
    foreign key (attacktype_code) references AttackType(attacktype_code),
    foreign key (targtype_code) references TargetType(targtype_code),
    foreign key (weaptype_code) references WeaponType(weaptype_code)
); '''

cursor.execute(sql)

cursor.execute("desc TerrorData")
records = cursor.fetchall()
for item in records:
    print(item)

('terror_id', b'int', 'NO', 'PRI', None, 'auto_increment')
('terror_date', b'date', 'NO', '', None, '')
('region_code', b'int', 'NO', 'MUL', None, '')
('country_code', b'int', 'NO', 'MUL', None, '')
('city', b'varchar(65)', 'YES', '', None, '')
('target', b'varchar(350)', 'YES', '', None, '')
('group_name', b'varchar(120)', 'YES', '', None, '')
('targtype_code', b'int', 'NO', 'MUL', None, '')
('attacktype_code', b'int', 'NO', 'MUL', None, '')
('weaptype_code', b'int', 'NO', 'MUL', None, '')
('kill_count', b'int', 'NO', '', b'0', '')
('wound_count', b'int', 'NO', '', b'0', '')
('motive', b'varchar(900)', 'YES', '', None, '')
('summary', b'varchar(2450)', 'YES', '', None, '')
('latitude', b'decimal(16,14)', 'YES', '', None, '')
('longitude', b'decimal(17,14)', 'YES', '', None, '')

ë¬¸ì œ 4-2. origin_terror_data í…Œì´ë¸”ì—ì„œ Terror Dataë¥¼ ì¶”ì¶œí•˜ì—¬ ë¬¸ì œ 4-1.ì—ì„œ ìƒì„±í•œ í…Œì´ë¸”ì— ì…ë ¥í•˜ê³  í™•ì¸í•˜ì„¸ìš”.

- ì•ì„œ ìƒì„±í•œ Region, Country, AttackType, TargetType, WeaponType ë°ì´í„°ì™€ì˜ ê´€ê³„ì— ì£¼ì˜í•˜ì„¸ìš”.
- Count ê°’ì„ ê°€ì§€ëŠ” ì¹¼ëŸ¼ì˜ ê°’ì´ null ì¸ ê²½ìš°, 0ìœ¼ë¡œ ì˜ˆì™¸ì²˜ë¦¬ í•´ì£¼ì„¸ìš”.
- ìœ„ë„ ê²½ë„ ë°ì´í„° ì¤‘ ë²”ìœ„ë¥¼ ë„˜ì–´ì„œëŠ” ë°ì´í„°ê°€ ì¡´ì¬í•©ë‹ˆë‹¤. ì´ ê²½ìš°, null ê°’ìœ¼ë¡œ ì˜ˆì™¸ì²˜ë¦¬ í•´ì£¼ì„¸ìš”. (ìœ„ë„ ê²½ë„ ë²”ìœ„ : êµ¬ê¸€ë§í•´ë³´ì„¸ìš”.)
- terror_date ì¹¼ëŸ¼ì˜ ê²½ìš°, origin_terror_data ì˜ ì—°, ì›”, ì¼ ì •ë³´ë¥¼ ì¡°í•©í•˜ì—¬ date type ìœ¼ë¡œ ì •ì˜í•´ì£¼ì„¸ìš”. (Format : â€˜YYYY-mm-ddâ€™)
- origin_terror_data ì˜ ì›”, ì¼ ì •ë³´ì¤‘ ê°’ì´ 0 ì¸ ê²½ìš° date type ìœ¼ë¡œ ë³€í™˜ë˜ì§€ ì•ŠìŠµë‹ˆë‹¤. ì´ ê²½ìš°, 1 ë¡œ ì˜ˆì™¸ì²˜ë¦¬ í•´ì£¼ì„¸ìš”.
- ë°ì´í„° ì…ë ¥ê¹Œì§€ ì™„ë£Œí•œ ì´í›„, origin_terror_data í…Œì´ë¸”ì„ ì‚­ì œí•˜ê³  í™•ì¸í•˜ì„¸ìš”.

ì œì¶œ 7. Table ìƒì„± ë° ì¡°íšŒ ê²°ê³¼ : DESC TerrorData, SELECT COUNT(*) FROM TerrorData 

ì œì¶œ 8. ê´€ë ¨ ì½”ë“œ ë° ì‹¤í–‰ ê²°ê³¼ (ipynb)

In [ ]:
# data ì „ì²˜ë¦¬ 
# date type : year + month + day (month = 0 ì¸ê²½ìš° 1, day = 0 ì¸ê²½ìš° 1)
# nkill, nwound : null ì¸ ê²½ìš° 0
# longitude range : 180 ~ -180
# check : select longitude from origin_terror_data where longitude < -180 or longitude > 180; '-86185896'

# terror ë°ì´í„° ì¶”ì¶œí•˜ê¸° 
sql = '''select DATE_FORMAT(CONCAT(iyear, '-', IF(imonth=0, 1, imonth), '-', IF(iday=0, 1, iday)), '%Y-%m-%d'),
                region, country, city, target1, gname, targtype1, attacktype1, weaptype1, 
                IFNULL(nkill, 0), IFNULL(nwound, 0), motive, summary, latitude, IF(longitude<180, null, longitude)
         from origin_terror_data'''
cursor.execute(sql)
records = cursor.fetchall()

In [ ]:
# TerrorData í…Œì´ë¸”ì— INSERT 
sql = '''INSERT INTO TerrorData (terror_date, region_code, country_code, city, target, group_name, 
                                 targtype_code, attacktype_code, weaptype_code, 
                                 kill_count, wound_count, motive, summary, latitude, longitude)
         VALUES (%s, %s, %s, %s, %s, %s,
                 %s, %s, %s, 
                 %s, %s, %s, %s, %s, %s)'''

for item in records:
    cursor.execute(sql, item)
    conn.commit()

cursor.execute("SELECT COUNT(*) FROM TerrorData")
records = cursor.fetchall()
print(records)

[(181691,)]

ë¬¸ì œ 5. TerrorData ì˜ ì „ì²´ ê¸°ê°„ì—ì„œ í…ŒëŸ¬ì˜ ìˆ«ìë¥¼ ì—°ë„ë³„ë¡œ ì§‘ê³„í•˜ì—¬ ì—°ë„ë³„ í…ŒëŸ¬ ë°œìƒ ê±´ìˆ˜ë¥¼ ì¡°íšŒí•˜ì„¸ìš”. 

- Python ì½”ë“œì—ì„œ SQL ì¿¼ë¦¬ë¥¼ ì‚¬ìš©í•˜ì—¬ ì¡°íšŒí•©ë‹ˆë‹¤. 

ì œì¶œ 9. ê´€ë ¨ ì½”ë“œ ë° ì‹¤í–‰ ê²°ê³¼ (ipynb)

In [ ]:
sql = '''select date_format(terror_date, '%Y') year, count(*)
         from TerrorData
         group by year;'''

cursor.execute(sql)
records = cursor.fetchall()
for item in records:
    print(item)

('1970', 651)
('1971', 471)
('1972', 568)
('1973', 473)
('1974', 581)
('1975', 740)
('1976', 923)
('1977', 1319)
('1978', 1526)
('1979', 2662)
('1980', 2662)
('1981', 2586)
('1986', 2860)
('1982', 2544)
('1983', 2870)
('1984', 3495)
('1985', 2915)
('1987', 3183)
('1988', 3721)
('1989', 4324)
('1990', 3887)
('1991', 4683)
('1992', 5071)
('1994', 3456)
('1995', 3081)
('1996', 3058)
('1997', 3197)
('1998', 934)
('1999', 1395)
('2000', 1814)
('2001', 1906)
('2002', 1333)
('2003', 1278)
('2004', 1166)
('2005', 2017)
('2006', 2758)
('2007', 3242)
('2008', 4805)
('2009', 4721)
('2010', 4826)
('2011', 5076)
('2012', 8522)
('2013', 12036)
('2014', 16903)
('2015', 14965)
('2016', 13587)
('2017', 10900)

ë¬¸ì œ 6. TerrorData ì—ì„œ í…ŒëŸ¬ê°€ ê°€ì¥ ë§ì´ ì¼ì–´ë‚œ ìˆœì„œë¡œ êµ­ê°€ë¥¼ ì •ë ¬í•˜ì—¬ ìƒìœ„ 10ìœ„ êµ­ê°€ë¥¼ ì¡°íšŒí•˜ì„¸ìš”. 

- Python ì½”ë“œì—ì„œ SQL ì¿¼ë¦¬ë¥¼ ì‚¬ìš©í•˜ì—¬ ì¡°íšŒí•©ë‹ˆë‹¤. 
- êµ­ê°€ ì •ë³´ëŠ” ì´ë¦„ìœ¼ë¡œ ì¶œë ¥í•˜ì„¸ìš”.

ì œì¶œ 10. ê´€ë ¨ ì½”ë“œ ë° ì‹¤í–‰ ê²°ê³¼ (ipynb)

In [ ]:
# í…ŒëŸ¬ê°€ ë§ì´ ì¼ì–´ë‚œ ìƒìœ„ 10ìœ„ Region
sql = '''select r.region_name, count(t.terror_id) terror_count
         from TerrorData t, Region r
         where t.region_code = r.region_code
         group by r.region_name
         order by terror_count desc
         limit 10'''

cursor.execute(sql)
records = cursor.fetchall()
for item in records:
    print(item)



# í…ŒëŸ¬ê°€ ë§ì´ ì¼ì–´ë‚œ ìƒìœ„ 10ìœ„ Country 
sql = '''select c.country_name, count(t.terror_id) terror_count
         from TerrorData t, Country c
         where t.country_code = c.country_code
         group by c.country_name
         order by terror_count desc
         limit 10'''

cursor.execute(sql)
records = cursor.fetchall()
for item in records:
    print(item)

('Middle East & North Africa', 50474)
('South Asia', 44974)
('South America', 18978)
('Sub-Saharan Africa', 17550)
('Western Europe', 16639)
('Southeast Asia', 12485)
('Central America & Caribbean', 10344)
('Eastern Europe', 5144)
('North America', 3456)
('East Asia', 802)
('Iraq', 24636)
('Pakistan', 14368)
('Afghanistan', 12731)
('India', 11960)
('Colombia', 8306)
('Philippines', 6908)
('Peru', 6096)
('El Salvador', 5320)
('United Kingdom', 5235)
('Turkey', 4292)

ë¬¸ì œ 7. TerrorData ì—ì„œ í…ŒëŸ¬ê°€ ê°€ì¥ ë§ì´ ì¼ì–´ë‚œ ìƒìœ„ 10ìœ„ êµ­ê°€ì— ëŒ€í•´ êµ­ê°€ë³„ë¡œ ì‚¬ë§ììˆ˜ì™€ ë¶€ìƒììˆ˜, ì‚¬ìƒììˆ˜(ì‚¬ë§ììˆ˜ + ë¶€ìƒììˆ˜)ë¥¼ ì¡°íšŒí•˜ì„¸ìš”. 

- Python ì½”ë“œì—ì„œ SQL ì¿¼ë¦¬ë¥¼ ì‚¬ìš©í•˜ì—¬ ì¡°íšŒí•©ë‹ˆë‹¤. 
- êµ­ê°€ ì •ë³´ëŠ” ì´ë¦„ìœ¼ë¡œ ì¶œë ¥í•˜ì„¸ìš”.

ì œì¶œ 11. ê´€ë ¨ ì½”ë“œ ë° ì‹¤í–‰ ê²°ê³¼ (ipynb)

In [ ]:
sql = '''select c.country_name as country, 
	            count(t.terror_id) as attacks, 
                sum(kill_count) as killed,     
                sum(wound_count) as wounded,     
                sum(kill_count + wound_count) as casualities
         from TerrorData t, Country c
         where t.country_code = c.country_code
         group by country
         order by attacks desc
         limit 10'''

cursor.execute(sql)
records = cursor.fetchall()
for item in records:
    print(item)

('Iraq', 24636, Decimal('78589'), Decimal('134690'), Decimal('213279'))
('Pakistan', 14368, Decimal('23822'), Decimal('42038'), Decimal('65860'))
('Afghanistan', 12731, Decimal('39384'), Decimal('44277'), Decimal('83661'))
('India', 11960, Decimal('19341'), Decimal('28980'), Decimal('48321'))
('Colombia', 8306, Decimal('14698'), Decimal('10328'), Decimal('25026'))
('Philippines', 6908, Decimal('9559'), Decimal('13367'), Decimal('22926'))
('Peru', 6096, Decimal('12771'), Decimal('4078'), Decimal('16849'))
('El Salvador', 5320, Decimal('12053'), Decimal('5062'), Decimal('17115'))
('United Kingdom', 5235, Decimal('3410'), Decimal('6106'), Decimal('9516'))
('Turkey', 4292, Decimal('6888'), Decimal('9899'), Decimal('16787'))

ë¬¸ì œ 8. ì§€ì—­ë³„ í…ŒëŸ¬ ê³µê²© í˜•íƒœì— ë”°ë¥¸ ì‚¬ë§ììˆ˜, ë¶€ìƒììˆ˜, ì‚¬ìƒììˆ˜ë¥¼ ì¡°íšŒí•˜ì„¸ìš”.

- Python ì½”ë“œì—ì„œ SQL ì¿¼ë¦¬ë¥¼ ì‚¬ìš©í•˜ì—¬ ì¡°íšŒí•©ë‹ˆë‹¤. 
- ì§€ì—­ ì •ë³´(Region)ëŠ” ì´ë¦„ìœ¼ë¡œ ì¶œë ¥í•˜ì„¸ìš”.

ì œì¶œ 12. ê´€ë ¨ ì½”ë“œ ë° ì‹¤í–‰ ê²°ê³¼ (ipynb)

In [ ]:
# ì§€ì—­ë³„ í…ŒëŸ¬ ê³µê²© í˜•íƒœì— ë”°ë¥¸ ì‚¬ë§ìì™€ ì‚¬ìƒì ìˆ˜ 
sql = '''select r.region_name as region_name, a.attacktype_desc as attacktype_desc, 
                count(kill_count) as killed, count(wound_count) as wounded, 
                count(kill_count + wound_count) as casualities
         from TerrorData t, Region r, AttackType a
         where t.region_code = r.region_code and t.attacktype_code = a.attacktype_code
         group by region_name, attacktype_desc
         order by casualities desc, region_name'''

cursor.execute(sql)
records = cursor.fetchall()
for item in records:
    print(item)

('Central America & Caribbean', 'Assassination', 1254, 1254)
('Southeast Asia', 'Assassination', 1369, 1369)
('South America', 'Assassination', 2745, 2745)
('North America', 'Assassination', 255, 255)
('Middle East & North Africa', 'Assassination', 4206, 4206)
('South Asia', 'Assassination', 4301, 4301)
('Western Europe', 'Assassination', 2938, 2938)
('Sub-Saharan Africa', 'Assassination', 1638, 1638)
('Australasia & Oceania', 'Assassination', 36, 36)
('East Asia', 'Assassination', 55, 55)
('Eastern Europe', 'Assassination', 400, 400)
('Central Asia', 'Assassination', 115, 115)
('North America', 'Armed Assault', 448, 448)
('South America', 'Armed Assault', 3875, 3875)
('Western Europe', 'Armed Assault', 1724, 1724)
('Middle East & North Africa', 'Armed Assault', 9273, 9273)
('Central America & Caribbean', 'Armed Assault', 4361, 4361)
('Southeast Asia', 'Armed Assault', 4022, 4022)
('Australasia & Oceania', 'Armed Assault', 51, 51)
('Sub-Saharan Africa', 'Armed Assault', 6004, 6004)
('Eastern Europe', 'Armed Assault', 1274, 1274)
('East Asia', 'Armed Assault', 117, 117)
('South Asia', 'Armed Assault', 11404, 11404)
('Central Asia', 'Armed Assault', 116, 116)
('Western Europe', 'Bombing/Explosion', 8508, 8508)
('North America', 'Bombing/Explosion', 1534, 1534)
('Eastern Europe', 'Bombing/Explosion', 2766, 2766)
('Southeast Asia', 'Bombing/Explosion', 4818, 4818)
('Middle East & North Africa', 'Bombing/Explosion', 30908, 30908)
('South America', 'Bombing/Explosion', 9039, 9039)
('Australasia & Oceania', 'Bombing/Explosion', 75, 75)
('East Asia', 'Bombing/Explosion', 330, 330)
('Central America & Caribbean', 'Bombing/Explosion', 3239, 3239)
('South Asia', 'Bombing/Explosion', 21246, 21246)
('Sub-Saharan Africa', 'Bombing/Explosion', 5557, 5557)
('Central Asia', 'Bombing/Explosion', 235, 235)
('Western Europe', 'Hijacking', 67, 67)
('North America', 'Hijacking', 18, 18)
('East Asia', 'Hijacking', 18, 18)
('South America', 'Hijacking', 67, 67)
('Middle East & North Africa', 'Hijacking', 138, 138)
('Sub-Saharan Africa', 'Hijacking', 136, 136)
('Southeast Asia', 'Hijacking', 59, 59)
('South Asia', 'Hijacking', 93, 93)
('Central America & Caribbean', 'Hijacking', 26, 26)
('Eastern Europe', 'Hijacking', 26, 26)
('Central Asia', 'Hijacking', 8, 8)
('Australasia & Oceania', 'Hijacking', 3, 3)
('Middle East & North Africa', 'Hostage Taking (Barricade Incident)', 100, 100)
('South America', 'Hostage Taking (Barricade Incident)', 234, 234)
('North America', 'Hostage Taking (Barricade Incident)', 67, 67)
('Southeast Asia', 'Hostage Taking (Barricade Incident)', 67, 67)
('Western Europe', 'Hostage Taking (Barricade Incident)', 89, 89)
('Central America & Caribbean', 'Hostage Taking (Barricade Incident)', 187, 187)
('Sub-Saharan Africa', 'Hostage Taking (Barricade Incident)', 95, 95)
('South Asia', 'Hostage Taking (Barricade Incident)', 120, 120)
('East Asia', 'Hostage Taking (Barricade Incident)', 3, 3)
('Eastern Europe', 'Hostage Taking (Barricade Incident)', 21, 21)
('Australasia & Oceania', 'Hostage Taking (Barricade Incident)', 6, 6)
('Central Asia', 'Hostage Taking (Barricade Incident)', 2, 2)
('North America', 'Hostage Taking (Kidnapping)', 123, 123)
('South America', 'Hostage Taking (Kidnapping)', 1414, 1414)
('Western Europe', 'Hostage Taking (Kidnapping)', 269, 269)
('Central America & Caribbean', 'Hostage Taking (Kidnapping)', 501, 501)
('Sub-Saharan Africa', 'Hostage Taking (Kidnapping)', 1872, 1872)
('Middle East & North Africa', 'Hostage Taking (Kidnapping)', 2666, 2666)
('Southeast Asia', 'Hostage Taking (Kidnapping)', 744, 744)
('Eastern Europe', 'Hostage Taking (Kidnapping)', 220, 220)
('South Asia', 'Hostage Taking (Kidnapping)', 3277, 3277)
('Australasia & Oceania', 'Hostage Taking (Kidnapping)', 13, 13)
('Central Asia', 'Hostage Taking (Kidnapping)', 45, 45)
('East Asia', 'Hostage Taking (Kidnapping)', 14, 14)
('East Asia', 'Facility/Infrastructure Attack', 200, 200)
('North America', 'Facility/Infrastructure Attack', 906, 906)
('Eastern Europe', 'Facility/Infrastructure Attack', 260, 260)
('Western Europe', 'Facility/Infrastructure Attack', 2631, 2631)
('South America', 'Facility/Infrastructure Attack', 803, 803)
('Middle East & North Africa', 'Facility/Infrastructure Attack', 1115, 1115)
('Australasia & Oceania', 'Facility/Infrastructure Attack', 71, 71)
('Southeast Asia', 'Facility/Infrastructure Attack', 948, 948)
('Central America & Caribbean', 'Facility/Infrastructure Attack', 403, 403)
('South Asia', 'Facility/Infrastructure Attack', 2189, 2189)
('Sub-Saharan Africa', 'Facility/Infrastructure Attack', 810, 810)
('Central Asia', 'Facility/Infrastructure Attack', 20, 20)
('North America', 'Unarmed Assault', 73, 73)
('Western Europe', 'Unarmed Assault', 148, 148)
('Central America & Caribbean', 'Unarmed Assault', 19, 19)
('East Asia', 'Unarmed Assault', 42, 42)
('Middle East & North Africa', 'Unarmed Assault', 177, 177)
('South Asia', 'Unarmed Assault', 323, 323)
('South America', 'Unarmed Assault', 47, 47)
('Sub-Saharan Africa', 'Unarmed Assault', 83, 83)
('Southeast Asia', 'Unarmed Assault', 25, 25)
('Eastern Europe', 'Unarmed Assault', 62, 62)
('Central Asia', 'Unarmed Assault', 5, 5)
('Australasia & Oceania', 'Unarmed Assault', 11, 11)
('Sub-Saharan Africa', 'Unknown', 1355, 1355)
('Southeast Asia', 'Unknown', 433, 433)
('Middle East & North Africa', 'Unknown', 1891, 1891)
('South America', 'Unknown', 754, 754)
('North America', 'Unknown', 32, 32)
('Western Europe', 'Unknown', 265, 265)
('South Asia', 'Unknown', 2021, 2021)
('Central America & Caribbean', 'Unknown', 354, 354)
('East Asia', 'Unknown', 23, 23)
('Eastern Europe', 'Unknown', 115, 115)
('Australasia & Oceania', 'Unknown', 16, 16)
('Central Asia', 'Unknown', 17, 17)
('Middle East & North Africa', 'Bombing/Explosion', 30908, 30908, 30908)
('South Asia', 'Bombing/Explosion', 21246, 21246, 21246)
('South Asia', 'Armed Assault', 11404, 11404, 11404)
('Middle East & North Africa', 'Armed Assault', 9273, 9273, 9273)
('South America', 'Bombing/Explosion', 9039, 9039, 9039)
('Western Europe', 'Bombing/Explosion', 8508, 8508, 8508)
('Sub-Saharan Africa', 'Armed Assault', 6004, 6004, 6004)
('Sub-Saharan Africa', 'Bombing/Explosion', 5557, 5557, 5557)
('Southeast Asia', 'Bombing/Explosion', 4818, 4818, 4818)
('Central America & Caribbean', 'Armed Assault', 4361, 4361, 4361)
('South Asia', 'Assassination', 4301, 4301, 4301)
('Middle East & North Africa', 'Assassination', 4206, 4206, 4206)
('Southeast Asia', 'Armed Assault', 4022, 4022, 4022)
('South America', 'Armed Assault', 3875, 3875, 3875)
('South Asia', 'Hostage Taking (Kidnapping)', 3277, 3277, 3277)
('Central America & Caribbean', 'Bombing/Explosion', 3239, 3239, 3239)
('Western Europe', 'Assassination', 2938, 2938, 2938)
('Eastern Europe', 'Bombing/Explosion', 2766, 2766, 2766)
('South America', 'Assassination', 2745, 2745, 2745)
('Middle East & North Africa', 'Hostage Taking (Kidnapping)', 2666, 2666, 2666)
('Western Europe', 'Facility/Infrastructure Attack', 2631, 2631, 2631)
('South Asia', 'Facility/Infrastructure Attack', 2189, 2189, 2189)
('South Asia', 'Unknown', 2021, 2021, 2021)
('Middle East & North Africa', 'Unknown', 1891, 1891, 1891)
('Sub-Saharan Africa', 'Hostage Taking (Kidnapping)', 1872, 1872, 1872)
('Western Europe', 'Armed Assault', 1724, 1724, 1724)
('Sub-Saharan Africa', 'Assassination', 1638, 1638, 1638)
('North America', 'Bombing/Explosion', 1534, 1534, 1534)
('South America', 'Hostage Taking (Kidnapping)', 1414, 1414, 1414)
('Southeast Asia', 'Assassination', 1369, 1369, 1369)
('Sub-Saharan Africa', 'Unknown', 1355, 1355, 1355)
('Eastern Europe', 'Armed Assault', 1274, 1274, 1274)
('Central America & Caribbean', 'Assassination', 1254, 1254, 1254)
('Middle East & North Africa', 'Facility/Infrastructure Attack', 1115, 1115, 1115)
('Southeast Asia', 'Facility/Infrastructure Attack', 948, 948, 948)
('North America', 'Facility/Infrastructure Attack', 906, 906, 906)
('Sub-Saharan Africa', 'Facility/Infrastructure Attack', 810, 810, 810)
('South America', 'Facility/Infrastructure Attack', 803, 803, 803)
('South America', 'Unknown', 754, 754, 754)
('Southeast Asia', 'Hostage Taking (Kidnapping)', 744, 744, 744)
('Central America & Caribbean', 'Hostage Taking (Kidnapping)', 501, 501, 501)
('North America', 'Armed Assault', 448, 448, 448)
('Southeast Asia', 'Unknown', 433, 433, 433)
('Central America & Caribbean', 'Facility/Infrastructure Attack', 403, 403, 403)
('Eastern Europe', 'Assassination', 400, 400, 400)
('Central America & Caribbean', 'Unknown', 354, 354, 354)
('East Asia', 'Bombing/Explosion', 330, 330, 330)
('South Asia', 'Unarmed Assault', 323, 323, 323)
('Western Europe', 'Hostage Taking (Kidnapping)', 269, 269, 269)
('Western Europe', 'Unknown', 265, 265, 265)
('Eastern Europe', 'Facility/Infrastructure Attack', 260, 260, 260)
('North America', 'Assassination', 255, 255, 255)
('Central Asia', 'Bombing/Explosion', 235, 235, 235)
('South America', 'Hostage Taking (Barricade Incident)', 234, 234, 234)
('Eastern Europe', 'Hostage Taking (Kidnapping)', 220, 220, 220)
('East Asia', 'Facility/Infrastructure Attack', 200, 200, 200)
('Central America & Caribbean', 'Hostage Taking (Barricade Incident)', 187, 187, 187)
('Middle East & North Africa', 'Unarmed Assault', 177, 177, 177)
('Western Europe', 'Unarmed Assault', 148, 148, 148)
('Middle East & North Africa', 'Hijacking', 138, 138, 138)
('Sub-Saharan Africa', 'Hijacking', 136, 136, 136)
('North America', 'Hostage Taking (Kidnapping)', 123, 123, 123)
('South Asia', 'Hostage Taking (Barricade Incident)', 120, 120, 120)
('East Asia', 'Armed Assault', 117, 117, 117)
('Central Asia', 'Armed Assault', 116, 116, 116)
('Central Asia', 'Assassination', 115, 115, 115)
('Eastern Europe', 'Unknown', 115, 115, 115)
('Middle East & North Africa', 'Hostage Taking (Barricade Incident)', 100, 100, 100)
('Sub-Saharan Africa', 'Hostage Taking (Barricade Incident)', 95, 95, 95)
('South Asia', 'Hijacking', 93, 93, 93)
('Western Europe', 'Hostage Taking (Barricade Incident)', 89, 89, 89)
('Sub-Saharan Africa', 'Unarmed Assault', 83, 83, 83)
('Australasia & Oceania', 'Bombing/Explosion', 75, 75, 75)
('North America', 'Unarmed Assault', 73, 73, 73)
('Australasia & Oceania', 'Facility/Infrastructure Attack', 71, 71, 71)
('North America', 'Hostage Taking (Barricade Incident)', 67, 67, 67)
('South America', 'Hijacking', 67, 67, 67)
('Southeast Asia', 'Hostage Taking (Barricade Incident)', 67, 67, 67)
('Western Europe', 'Hijacking', 67, 67, 67)
('Eastern Europe', 'Unarmed Assault', 62, 62, 62)
('Southeast Asia', 'Hijacking', 59, 59, 59)
('East Asia', 'Assassination', 55, 55, 55)
('Australasia & Oceania', 'Armed Assault', 51, 51, 51)
('South America', 'Unarmed Assault', 47, 47, 47)
('Central Asia', 'Hostage Taking (Kidnapping)', 45, 45, 45)
('East Asia', 'Unarmed Assault', 42, 42, 42)
('Australasia & Oceania', 'Assassination', 36, 36, 36)
('North America', 'Unknown', 32, 32, 32)
('Central America & Caribbean', 'Hijacking', 26, 26, 26)
('Eastern Europe', 'Hijacking', 26, 26, 26)
('Southeast Asia', 'Unarmed Assault', 25, 25, 25)
('East Asia', 'Unknown', 23, 23, 23)
('Eastern Europe', 'Hostage Taking (Barricade Incident)', 21, 21, 21)
('Central Asia', 'Facility/Infrastructure Attack', 20, 20, 20)
('Central America & Caribbean', 'Unarmed Assault', 19, 19, 19)
('East Asia', 'Hijacking', 18, 18, 18)
('North America', 'Hijacking', 18, 18, 18)
('Central Asia', 'Unknown', 17, 17, 17)
('Australasia & Oceania', 'Unknown', 16, 16, 16)
('East Asia', 'Hostage Taking (Kidnapping)', 14, 14, 14)
('Australasia & Oceania', 'Hostage Taking (Kidnapping)', 13, 13, 13)
('Australasia & Oceania', 'Unarmed Assault', 11, 11, 11)
('Central Asia', 'Hijacking', 8, 8, 8)
('Australasia & Oceania', 'Hostage Taking (Barricade Incident)', 6, 6, 6)
('Central Asia', 'Unarmed Assault', 5, 5, 5)
('Australasia & Oceania', 'Hijacking', 3, 3, 3)
('East Asia', 'Hostage Taking (Barricade Incident)', 3, 3, 3)
('Central Asia', 'Hostage Taking (Barricade Incident)', 2, 2, 2)

---

# reference

ë¯¼í˜•ë™ (2020). Global Terrorism Dataë¥¼ í™œìš©í•œ êµ­ê°€ë³„ í…ŒëŸ¬ìœ í˜• ë¶„ì„. í•œêµ­ê³µì•ˆí–‰ì •í•™íšŒ, 82, 63-84. 

í•œì¸íƒ (2017). Global Terrorism Databaseë¥¼ í™œìš©í•œ í…ŒëŸ¬ë¦¬ì¦˜ì˜ í˜„í™©ë¶„ì„. 

ë¯¼í˜•ê¸° (2019). ì „ì„¸ê³„ í…ŒëŸ¬ ë°ì´í„° ë¶„ì„ (ë”°ë¼í•˜ê¸°). https://pinkwink.kr/1214 

ASHWINI SWSAIN (2018). Terrorism Around The World. https://www.kaggle.com/code/ash316/terrorism-around-the-world/notebook

START (National Consortium for the Study of Terrorism and Responses to Terrorism). (2021). *Global Terrorism Database* (GTD) [Data set]. University of Maryland. https://www.start.umd.edu/gtd

START (National Consortium for the Study of Terrorism and Responses to Terrorism). (2021, August). *Global Terrorism Database codebook: Methodology, inclusion criteria, and variables.* University of Maryland. https://www.start.umd.edu/gtd/downloads/Codebook.pdf